<%= form_for(@seance) do |f| %>
  <% if @seance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seance.errors.count, "error") %> prohibited this seance from being saved:</h2>

      <ul>
      <% @seance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if can? :manage, Seance %>
        <span class="glyphicon glyphicon-film"></span> <%= f.label :film_id, :value => 'Film' %><br>
        <%= select("seance", "film_id", Film.all.order(import_id: :desc).collect {|film| [ film.titrefilm, film.id ] },
        { :prompt => "Please select"},
        { :multiple => true, :size => 10 }) %>

        <% seance = Seance.order(:import_id).last %>
    <% else %>
      <h3><span class="glyphicon glyphicon-film"></span> <%= raw @seance.film.titrefilm.upcase %></h3>
    <% end %>
  </div>

  <div class="field">
      <% versions = ["VOST", "VF", "VOST/2D", "VOST/3D", "VF/2D", "VF/3D", "2D", "3D"] %>
      <% if can? :manage, Seance %>
        <span class="glyphicon glyphicon-info-sign"></span> <%= f.label :version, :value => 'Version' %><br>
        <%= f.select :version, versions, include_blank: true %>
      <% else %>
      <h3><%= @seance.version %></h3>
    <% end %>
  </div>

    <div class="field">
      <% audio_description = ["AD", "ST-SME", "AD / ST-SME"] %>
      <% if can? :manage, Seance %>
        <i class="fa fa-audio-description fa-lg"></i> / <i class="fa fa-low-vision fa-lg"></i> <%= f.label :version, :value => 'Audio Description' %><br>
        <%= f.select :audio_description, audio_description, include_blank: true %>
      <% else %>
      <h3><%= @seance.audio_description %></h3>
    <% end %>
  </div>

  <div class="field">
  <% if @seance.horaire.present? %>
    <h3><span class="glyphicon glyphicon-time"></span> <%= l @seance.horaire, format: :very_long %></h3>
  <% end %>
    <% if can? :manage, Seance %>
      <h3>Pour éditer, cliquez l'icône avec le calendrier.</h3>
        <div class="form-group">
          <div class="row">
              <div class="col-sm-6" style="height:250px;">
                <span class="glyphicon glyphicon-time"></span> <%= f.label :horaire, :value => 'Date et horaire' %>
                  <div class="input-group date" id="datetimepicker1">
                    <%= f.text_field :horaire, :class => 'form-control' %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                </div>
            </div>
        </div>
    <% end %>
  </div>

  <div class="field">
    <% if can? :manage, Seance %>
      <span class="glyphicon glyphicon-home"></span> <%= f.label :village_id, :value => 'Lieu' %><br>
      <%= f.select :village_id, Village.all.order(import_id: :asc).collect {|village| [ village.commune + " " + village.salle, village.id ] } %>
    <% else %>
      <h3><span class="glyphicon glyphicon-home"></span> <%= @seance.village.commune.upcase %> <%= @seance.village.salle %></h3>
    <% end %>
  </div>

    <div class="field">
        <% extras = ["Séance scolaire", "Ciné-Débat", "Ciné-Goûter", "Apéro pitchoun", "Ciné-mémoire animation", "Ciné-mémoire", "Ciné-déguisé", "Atelier", "Séance gratuite", "Annulée"] %>
        <% if can? :manage, Seance %>
          <span class="glyphicon glyphicon-info-sign"></span> <%= f.label :extras, :value => 'extras' %><br>
          <%= f.select :extras, extras, include_blank: true %>
        <% else %>
          <h3><span class="glyphicon glyphicon-info-sign"></span> <%= @seance.extras %></h3>
        <% end %>
    </div>

    <div class="field">
        <% annulation = ["Annulée"] %>
        <% if can? :manage, Seance %>
          <span class="glyphicon glyphicon-warning-sign"></span> <%= f.label :annulee, :value => 'Annulation' %><br>
          <%= f.select :annulee, annulation, include_blank: true %>
        <% else %>
            <h3><span class="glyphicon glyphicon-warning-sign"></span> <%= @seance.annulee %></h3>
        <% end %>
    </div>

    <% users = User.all.users_alphabet.map{|user| user.prenom } %>

  <div class="field">
    <span class="glyphicon glyphicon-facetime-video"></span> <%= f.label :projection, :value => 'Projection' %><br>
    <%= f.select :projection, users, include_blank: true %>
  </div>

  <div class="field">
    <span class="glyphicon glyphicon-briefcase"></span> <%= f.label :caisse, :value => 'Caisse' %><br>
    <%= f.select :caisse, users, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :commentaire, :value => 'Commentaire' %><br>
    <%= f.text_area :commentaire, :placeholder => "#{current_user.prenom.capitalize} :", autofocus: true, :maxlength => 400  %>
  </div>

  <h2>Les Entrées</h2>

  <div class="field">
    <%= f.label :billets_adultes, :value => 'Billets adultes' %><br>
    <%= f.number_field :billets_adultes, in: 0..500, step: 0 %>
  </div>

  <div class="field">
    <%= f.label :billets_enfants, :value => 'Billets enfants' %><br>
    <%= f.number_field :billets_enfants, in: 0..500, step: 0 %>
  </div>

  <div class="field">
    <%= f.label :billets_scolaires, :value => 'Billets scolaires' %><br>
    <%= f.number_field :billets_scolaires, in: 0..500, step: 0 %>
  </div>

  <div class="actions">
    <input type="submit" class="btn btn-warning" value="Valider" />
  </div>
  <% end %>
</div>

      <script type="text/javascript">
         $(function () {
             $('#datetimepicker1').datetimepicker();
                locale: 'fr'
         });
      </script>
   </div>