<meta charset='utf-8' />
<p>Du Mercredi <%= "#{l @date.beginning_of_week, format: :middle}, #{@date.strftime("semaine N°%W")}" %> au Mardi <%= "#{l @date.at_beginning_of_week + 27.day, format: :middle},#{(@date.beginning_of_week).strftime("semaine N°%W")} à la #{(@date.beginning_of_week + 3.week).strftime("semaine N°%W")}" %></p>
<center><h2><%= @lieu.upcase %></h2></center>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <p><center><%= date.day %></center></p>
        <% @seances.seances_calendrier.lieuxtest[@lieu].compact.each do |seance| %>
          <% if seance.horaire.midnight == date.midnight %>
            <ul class="list-unstyled">
              <% if seance.annulee != "Annulée" %>
                <li>
                  <p><strong><%= seance.horaire.strftime("%Hh%M") %></strong><br>
                  <strong><%= seance.village.commune.upcase %></strong><br>
                  <% if seance.village.salle %>
                  <em><%= seance.village.salle %></em><br>
                  <% end %>
                  <%=raw seance.film.titrefilm %><br>
                  <% if seance.version.present? %>
                  <%= seance.version %><br>
                  <% end %>
                  <% if seance.audio_description.present? %>
                  <%= seance.audio_description %><br>
                  <% end %>
                  <% if seance.extras.present? %>
                  <%= seance.extras %><br>
                  <% end %>
                  <% if seance.projection.present? %>
                  Projection : <em><strong><%= seance.projection.capitalize %></strong></em>
                  <% end %>
                  <% if seance.caisse.present? %>
                  Caisse : <em><strong><%= seance.caisse.capitalize %></strong></em></p>
                  <% end %>
              <% else %>
                  <p></p>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
   <%= calendar @date + 1.weeks do |date| %>
      <p><center><%= date.day %></center></p>
        <% @seances.where({horaire: ((date - 6.day)..(date + 6.day))}).lieuxtest[@lieu].compact.each do |seance| %>
          <% if seance.horaire.midnight == date.midnight %>
            <ul class="list-unstyled">
              <% if seance.annulee != "Annulée" %>
                <li>
                  <p><strong><%= seance.horaire.strftime("%Hh%M") %></strong><br>
                  <strong><%= seance.village.commune.upcase %></strong><br>
                  <% if seance.village.salle %>
                  <em><%= seance.village.salle %></em><br>
                  <% end %>
                  <%=raw seance.film.titrefilm %><br>
                  <% if seance.version.present? %>
                  <%= seance.version %><br>
                  <% end %>
                  <% if seance.extras.present? %>
                  <%= seance.extras %><br>
                  <% end %>
                  <% if seance.projection.present? %>
                  Projection : <em><strong><%= seance.projection.capitalize %></strong></em>
                  <% end %>
                  <% if seance.caisse.present? %>
                  Caisse : <em><strong><%= seance.caisse.capitalize %></strong></em></p>
                  <% end %>
              <% else %>
                  <p></p>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date + 2.weeks do |date| %>
      <p><center><%= date.day %></center></p>
        <% @seances.where({horaire: ((date - 6.day)..(date + 6.day))}).lieuxtest[@lieu].compact.each do |seance| %>
          <% if seance.horaire.midnight == date.midnight %>
            <ul class="list-unstyled">
              <% if seance.annulee != "Annulée" %>
                <li>
                 <p><strong><%= seance.horaire.strftime("%Hh%M") %></strong><br>
                  <strong><%= seance.village.commune.upcase %></strong><br>
                  <% if seance.village.salle %>
                  <em><%= seance.village.salle %></em><br>
                  <% end %>
                  <%=raw seance.film.titrefilm %><br>
                  <% if seance.version.present? %>
                  <%= seance.version %><br>
                  <% end %>
                  <% if seance.extras.present? %>
                  <%= seance.extras %><br>
                  <% end %>
                  <% if seance.projection.present? %>
                  Projection : <em><strong><%= seance.projection.capitalize %></strong></em>
                  <% end %>
                  <% if seance.caisse.present? %>
                  Caisse : <em><strong><%= seance.caisse.capitalize %></strong></em></p>
                  <% end %>
              <% else %>
                  <p></p>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
   <%= calendar @date + 3.weeks do |date| %>
      <p><center><%= date.day %></center></p>
        <% @seances.where({horaire: ((date - 6.day)..(date + 6.day))}).lieuxtest[@lieu].compact.each do |seance| %>
          <% if seance.horaire.midnight == date.midnight %>
            <ul class="list-unstyled">
              <% if seance.annulee != "Annulée" %>
                <li>
                 <p><strong><%= seance.horaire.strftime("%Hh%M") %></strong><br>
                  <strong><%= seance.village.commune.upcase %></strong><br>
                  <% if seance.village.salle %>
                  <em><%= seance.village.salle %></em><br>
                  <% end %>
                  <%=raw seance.film.titrefilm %><br>
                  <% if seance.version.present? %>
                  <%= seance.version %><br>
                  <% end %>
                  <% if seance.extras.present? %>
                  <%= seance.extras %><br>
                  <% end %>
                  <% if seance.projection.present? %>
                  Projection : <em><strong><%= seance.projection.capitalize %></strong></em>
                  <% end %>
                  <% if seance.caisse.present? %>
                  Caisse : <em><strong><%= seance.caisse.capitalize %></strong></em></p>
                  <% end %>
              <% else %>
                  <p></p>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
