<div class="cine">
  <center><h1 class="text-center"><strong>Calendrier des Projections</strong> ( édition )</h1></center>
</div>
  <h2 class="text-center"><strong><%= @lieu.upcase %></strong></h2>
<p class="text-center">(Pour éditer, cliquez sur la séance)</p>
<div class="container">
  <div class="actions hidden-xs">
  <%= link_to 'calendrier pdf (imprimer)', edition_calendrier_path(:lieu => params[:lieu], date: @date, :format => :pdf), :format => :pdf, :class => "btn btn-primary", :target => "_blank", :rel => "noopener noreferrer" %> <strong>pour <%= @lieu.upcase %></strong>
  <br>Attention, pensez à imprimer en "Orientation = Paysage" dans l'onglet : "Mise en page" avant l'impression.
  <%= link_to 'Accueil (calendrier sans édition)', root_path(:lieu => "tous les lieux", date: @date), :class => "btn btn-warning" %>
 </div>
  <br>
  <div class="actions">
    <div class="btn-group">
    <button type="button" class="btn btn-danger">Choix par lieux</button>
        <button type="button" class="btn btn-primary btn-danger dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Calendrier Vernoux', edition_calendrier_path(:lieu => "vernoux", date: @date), :class => "btn btn-default vernoux", :title => "Que les séances de Vernoux" %></li>
            <li><%= link_to 'Calendrier Lamastre', edition_calendrier_path(:lieu => "lamastre", date: @date), :class => "btn btn-default lamastre", :title => "Que les séances de Lamastre" %></li>
            <li><%= link_to 'Calendrier Chalencon', edition_calendrier_path(:lieu => "chalencon", date: @date), :class => "btn btn-default chalencon", :title => "Que les séances de Chalencon" %></li>
            <li><%= link_to 'Calendrier Itinérance', edition_calendrier_path(:lieu => "itinerance", date: @date), :class => "btn btn-default itinerance", :title => "Que les séances de Itinérantes" %></li>
            <li><%= link_to 'Calendrier tous les lieux', edition_calendrier_path(:lieu => "tous les lieux", date: @date), :class => "btn btn-default", :title => "Séances de tous les lieux" %></li>
        </ul>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="well controls">
        <%= link_to edition_calendrier_path(:lieu => params[:lieu], date: @date.beginning_of_week - 1.weeks), class: "btn btn-default" do %>
          <div class="glyphicon glyphicon-backward"><p>Semaine précédente</p></div>
        <% end %>
         <%= "du #{l @date.beginning_of_week, format: :default} au #{l @date.end_of_week, format: :default}, #{@date.beginning_of_week.strftime("semaine N°%W")}" %>
        <%= link_to edition_calendrier_path(:lieu => params[:lieu], date: @date.beginning_of_week + 1.weeks), class: "btn btn-default" do %>
          <div class="glyphicon glyphicon-forward"><p>Semaine suivante</p></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= calendar @date do |date| %>
        <p><center><%= l date, format: :short %></center></p>
        <ul class="list-unstyled calendrier">
          <% @seances.where({horaire: ((date - 6.day)..(date + 6.day))}).lieuxtest[@lieu].compact.each do |seance| %>
            <% if seance.horaire.midnight == date.midnight %>
              <% if seance.annulee != "Annulée" %>
                <li>
                    <% if seance.film.affiche.present? %>
                      <%= link_to "https://ecranvillage.net/?p=#{seance.film.import_id}",:title => "article sur le site Ecran Village", :target => "_blank", :rel => "noopener noreferrer" do %>
                         <div><img style="width:90%;" src="<%= seance.film.affiche %>" /></div>
                         <br>
                      <% end %>
                    <% end %>
                  <%= link_to edit_seance_path(seance), :class => seance.village.commune.downcase, :title => "éditer, modifier cette séance" do %>
                    <p><span class='glyphicon glyphicon-time'></span> <strong><%= seance.horaire.strftime("%Hh%M") %></strong></p>
                    <p><span class='glyphicon glyphicon-film'></span> <%=raw seance.film.titrefilm %></p>
                    <% if seance.version.present? %>
                    <p><span class='glyphicon glyphicon-info-sign'></span> <%= seance.version %></p>
                    <% end %>
                    <% if seance.audio_description.present? %>
                    <p><i class="fa fa-audio-description fa-lg"></i> <%= seance.audio_description %> <i class="fa fa-low-vision fa-lg"></i></p>
                    <% end %>
                    <% if seance.extras.present? %>
                    <p><span class='glyphicon glyphicon-info-sign'></span> <%= seance.extras %></p>
                    <% end %>
                    <p><span class='glyphicon glyphicon-home'></span> <strong><%= seance.village.commune.upcase %></strong></p>
                    <% if seance.village.salle != "" %>
                    <p><em><%= seance.village.salle %></em></p>
                    <% end %>
                    <% if seance.projection %>
                    <p><span class='glyphicon glyphicon-facetime-video'></span> <em><strong><%= seance.projection %></strong></em></p>
                    <% end %>
                    <% if seance.caisse %>
                    <p><span class='glyphicon glyphicon-briefcase'></span> <em><strong><%= seance.caisse.capitalize %></strong></em></p>
                    <% end %>
                  <% end %>
              <% else %>
                <div class='<%= seance.village.commune.downcase %>'>
                  <p><span class='glyphicon glyphicon-warning-sign'></span> <%= seance.annulee %></p>
                  <p class="annule"><span class='glyphicon glyphicon-time'></span> <strong><%= seance.horaire.strftime("%Hh%M") %></strong></p>
                  <p class="annule"><span class='glyphicon glyphicon-film'></span> <%=raw seance.film.titrefilm %></p>
                <% if seance.version.present? %>
                  <p class="annule"><span class='glyphicon glyphicon-info-sign'></span> <%= seance.version %></p>
                <% end %>
                <% if seance.audio_description.present? %>
                  <p class="annule"><i class="fa fa-audio-description fa-lg"></i> <%= @seance.audio_description %> <i class="fa fa-low-vision fa-low-vision"></i></p>
                <% end %>
                  <p class="annule"><span class='glyphicon glyphicon-home'></span> <strong><%= seance.village.commune.upcase %></strong></p>
                <% if seance.village.salle != "" %>
                  <p class="annule"><em><%= seance.village.salle %></em></p>
                  <% end %>
                <% if seance.projection %>
                  <p class="annule"><span class='glyphicon glyphicon-facetime-video'></span> <em><strong><% seance.projection.capitalize %></strong></em></p>
                <% end %>
                <% if seance.caisse %>
                  <p class="annule"><span class='glyphicon glyphicon-briefcase'></span> <em><strong><%= seance.caisse.capitalize %></strong></em></p>
                <% end %>
                </div>
              <% end %>
                <hr />
                </li>
              <br>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="row">
    <div class="col-md-12 text-center">
      <div class="well controls">
        <%= link_to edition_calendrier_path(:lieu => params[:lieu], date: @date.beginning_of_week - 1.weeks), class: "btn btn-default" do %>
          <div class="glyphicon glyphicon-backward"><p>Semaine précédente</p></div>
        <% end %>
         <%= "du #{l @date.beginning_of_week, format: :default} au #{l @date.end_of_week, format: :default}, #{@date.beginning_of_week.strftime("semaine N°%W")}" %>
        <%= link_to edition_calendrier_path(:lieu => params[:lieu], date: @date.beginning_of_week + 1.weeks), class: "btn btn-default" do %>
          <div class="glyphicon glyphicon-forward"><p>Semaine suivante</p></div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
