    <center><h1><strong>Nombre de séances et d'entrées</strong></h1></center>

<div class="container">
  <div class="row">
  <h2>On choisit ici combien les jours à prendre en compte pour les séances</h2>
  <h3>En cliquant sur les dates, vous aurez un calendrier pour le choix</h3>
    <div class="pull_right range_query">
     <%= form_tag entrees_path, method: :get do %>
     <%= label_tag('search[date_from]', 'Du:') %>
     <%= text_field_tag 'search[date_from]', @search.date_from, :class => 'datepicker' %>
     <%= label_tag('search[date_to]', 'Au:') %>
     <%= text_field_tag 'search[date_to]',  @search.date_to, :class => 'datepicker' %>
     <%= submit_tag 'Chercher', class: 'btn search-button' %>
    <% end %>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
    format: "dd/mm/yyyy",
    todayBtn: true,
    language: "fr",
    todayHighlight: true
    });
  });
</script>
<center><h1><strong>Résultats</strong></h1></center>
<h3><strong>Calcul des séances en tenant compte de ces dates :</strong></h3>
<h4>Séances compris entre le <strong><%= l @search.date_from.to_date, format: :middle_long %></strong> et le <strong><%= l @search.date_to.to_date, format: :middle_long %></strong></h4>
</div>
<% date_range = @search.date_from.to_date..@search.date_to.to_date %>

  <h3>Il y a eu <strong><%= @stats.films_per_daterange %></strong> film(s) pour cette période avec <strong><%= @stats.seances_range.length %></strong> séance(s) et <strong><%= @stats.seances_range_annulee.length %></strong> séance(s) annulée(s).</h3>

      <center><h2><strong>Totaux par Lieux</strong></h2></center>
<div class="container table-croped">
  <table class="table table-responsive table-hover table-striped">
    <thead>
      <th>
         <tr>
           <th>Lieu</th>
           <th>Nombre de séances</th>
           <th>Billets scolaires</th>
           <th>Billets enfants</th>
           <th>Billets adultes</th>
           <th>Total Billets</th>
         </tr>
       </th>
    </thead>
    <tbody>
      <tr>
        <td class="active">Tous les lieux</td>
        <td class="warning"><strong><%= @stats.seances_range.length %></strong> séance(s)</td>
        <td class="info"><strong><%= @stats.seances_range.sum("billets_scolaires") %></strong> scolaires</td>
        <td class="info"><strong><%= @stats.seances_range.sum("billets_enfants") %></strong> enfant(s)</td>
        <td class="info"><strong><%= @stats.seances_range.sum("billets_adultes") %></strong> adulte(s)</td>
        <td class="warning"><strong><%= @stats.seances_range.sum("total_billets") %></strong> entrée(s)</td>
      </tr>
      <tr>
          <td class="active">Vernoux</td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(4).length %></strong> séance(s)</td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(4).sum("billets_scolaires") %></strong> scolaires</td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(4).sum("billets_enfants") %></strong> enfant(s)</td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(4).sum("billets_adultes") %></strong> adulte(s)</td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(4).sum("total_billets") %></strong> entrée(s)</td>
      </tr>
      <tr>
          <td class="active">Lamastre</td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(8).length %></strong> séance(s)</td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(8).sum("billets_scolaires") %></strong>  scolaires</td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(8).sum("billets_enfants") %></strong> enfant(s)</td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(8).sum("billets_adultes") %></strong> adulte(s)</td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(8).sum("total_billets") %></strong> entrée(s)</td>
      </tr>
      <tr>
          <td class="active">Chalencon</td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(5).length %></strong> séance(s)</td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(5).sum("billets_scolaires") %></strong>  scolaires</td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(5).sum("billets_enfants") %></strong> enfant(s)</td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(5).sum("billets_adultes") %></strong> adulte(s)</td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(5).sum("total_billets") %></strong> entrée(s)</td>
      </tr>
      <tr>
          <td class="active">Itinérance</td>
          <td class="warning"><strong><%= @stats.seances_range.length - (@stats.seances_film_per_lieu(4).length + @stats.seances_film_per_lieu(8).length + @stats.seances_film_per_lieu(5).length) %></strong> séance(s)</td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_scolaires") - (@stats.seances_film_per_lieu(4).sum("billets_scolaires")  + @stats.seances_film_per_lieu(8).sum("billets_scolaires") + @stats.seances_film_per_lieu(5).sum("billets_scolaires")) %></strong> scolaires</td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_enfants") - (@stats.seances_film_per_lieu(4).sum("billets_enfants") + @stats.seances_film_per_lieu(8).sum("billets_enfants") + @stats.seances_film_per_lieu(5).sum("billets_enfants")) %></strong> enfant(s)</td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_adultes") - (@stats.seances_film_per_lieu(4).sum("billets_adultes") + @stats.seances_film_per_lieu(8).sum("billets_adultes") + @stats.seances_film_per_lieu(5).sum("billets_adultes")) %></strong> adulte(s)</td>
          <td class="warning"><strong><%= @stats.seances_range.sum("total_billets") - (@stats.seances_film_per_lieu(4).sum("total_billets") + @stats.seances_film_per_lieu(8).sum("total_billets") + @stats.seances_film_per_lieu(5).sum("total_billets")) %></strong> entrée(s)</td>
      </tr>
      <tr>
          <td class="active">Tournée (Lamastre, Chalencon, Itinérance)</td>
          <td class="warning"><strong><%= @stats.seances_range.length - @stats.seances_film_per_lieu(4).length %></strong> séance(s)</td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_scolaires") - @stats.seances_film_per_lieu(4).sum("billets_scolaires") %></strong> scolaires</td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_enfants") - @stats.seances_film_per_lieu(4).sum("billets_enfants") %></strong> enfant(s)</td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_adultes") - @stats.seances_film_per_lieu(4).sum("billets_adultes") %></strong> adultes</td>
          <td class="warning"><strong><%= @stats.seances_range.sum("total_billets") - @stats.seances_film_per_lieu(4).sum("total_billets") %></strong> entrée(s)</td>
      </tr>
    </tbody>
  </table>
</div>

    <center><h1><strong>Par Film et ordonné par Total des entrées</strong></h1></center>
<div class="container table-croped">
      <% @stats.films_order_total.each do |film| %>
      <% if film.seances.where(horaire: date_range).present? %>
       <% film_seances_semaine = film.seances.where(horaire: date_range, annulee: [nil, ""]) %>
      <% film_vernoux= film_seances_semaine.where(village_id: 4) %>
      <% film_lamastre = film_seances_semaine.where(village_id: 8) %>
      <% film_chalencon = film_seances_semaine.where(village_id: 5) %>
  <table class="table table-responsive table-hover table-striped">
      <center><h3><span class="glyphicon glyphicon-film"></span> <strong><%= film.titrefilm.upcase %></strong></h3>
      <% if can? :manage, @film %>
            <%= link_to edit_film_path(film), class: "btn btn-warning", :title =>"Modifier" do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
      <%end %>
      <% if film.classifications.present? %>
        <p>classé <%= film.classifications.map(&:nom_classification) %></p>
      <% end %>
      <% if film.distribution.present? %>
        <p>distribué par <%= film.distribution %></p>
      <% end %>
      </center>
    <thead>
      <th>
         <tr>
           <th>Lieu</th>
           <th>Nombre de séances</th>
           <th>Billets scolaires</th>
           <th>Billets enfants</th>
           <th>Billets adultes</th>
           <th>Total Billets</th>
         </tr>
       </th>
    </thead>
    <tbody>
      <tr>
        <td class="active">Tous les lieux</td>
        <td class="warning"><strong><%= film_seances_semaine.length %></strong> séance(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_scolaires") %></strong> scolaires</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_enfants") %></strong> enfant(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_adultes") %></strong> adulte(s)</td>
        <td class="warning"><strong><%= film_seances_semaine.sum("total_billets") %></strong> entrée(s)</td>
      </tr>
      <tr>
        <td class="active">Vernoux</td>
        <td class="warning"><strong><%= film_vernoux.length %></strong> séance(s)</td>
        <td class="info"><strong><%= film_vernoux.sum("billets_scolaires") %></strong> scolaires</td>
        <td class="info"><strong><%= film_vernoux.sum("billets_enfants") %></strong> enfant(s)</td>
        <td class="info"><strong><%= film_vernoux.sum("billets_adultes") %></strong> adulte(s)</td>
        <td class="warning"><strong><%= film_vernoux.sum("total_billets") %></strong> entrée(s)</td>
      </tr>
      <tr>
        <td class="active">Lamastre</td>
        <td class="warning"><strong><%= film_lamastre.length %></strong> séance(s)</td>
        <td class="info"><strong><%= film_lamastre.sum("billets_scolaires") %></strong> scolaires</td>
        <td class="info"><strong><%= film_lamastre.sum("billets_enfants") %></strong> enfant(s)</td>
        <td class="info"><strong><%= film_lamastre.sum("billets_adultes") %></strong> adulte(s)</td>
        <td class="warning"><strong><%= film_lamastre.sum("total_billets") %></strong> entrée(s)</td>
      </tr>
      <tr>
        <td class="active">Chalencon</td>
        <td class="warning"><strong><%= film_chalencon.length %></strong> séance(s)</td>
        <td class="info"><strong><%= film_chalencon.sum("billets_scolaires") %></strong> scolaires</td>
        <td class="info"><strong><%= film_chalencon.sum("billets_enfants") %></strong> enfant(s)</td>
        <td class="info"><strong><%= film_chalencon.sum("billets_adultes") %></strong> adulte(s)</td>
        <td class="warning"><strong><%= film_chalencon.sum("total_billets") %></strong> entrée(s)</td>
      </tr>
      <tr>
        <td class="active">Itinérance</td>
        <td class="warning"><strong><%= film_seances_semaine.length  - (film_vernoux.length  + film_lamastre.length  + film_chalencon.length) %></strong> séance(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_scolaires") - (film_vernoux.sum("billets_scolaires") + film_lamastre.sum("billets_scolaires") + film_chalencon.sum("billets_scolaires")) %></strong> scolaires</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_enfants") - (film_vernoux.sum("billets_enfants")  + film_lamastre.sum("billets_enfants") + film_chalencon.sum("billets_enfants")) %></strong> enfant(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_adultes") - (film_vernoux.sum("billets_adultes") + film_lamastre.sum("billets_adultes") + film_chalencon.sum("billets_adultes")) %></strong> adulte(s)</td>
        <td class="warning"><strong><%= film_seances_semaine.sum("total_billets") - (film_vernoux.sum("total_billets") + film_lamastre.sum("total_billets") + film_chalencon.sum("total_billets")) %></strong> entrée(s)</td>
      </tr>
      <tr>
        <td class="active">Tournée (Lamastre, Chalencon, Itinérance)</td>
        <td class="warning"><strong><%= film_seances_semaine.length - film_vernoux.length %></strong> séance(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_scolaires") - film_vernoux.sum("billets_scolaires") %></strong> scolaires</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_enfants") - film_vernoux.sum("billets_enfants") %></strong> enfant(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_adultes") - film_vernoux.sum("billets_adultes") %></strong> adulte(s)</td>
        <td class="warning"><strong><%= film_seances_semaine.sum("total_billets") - film_vernoux.sum("total_billets") %></strong> entrée(s)</td>
      </tr>
    </tbody>
  <% end %>
  </table>
  <% end %>
</div>
<br>
<center><h2>Les Séances prises en compte</h2></center>
<div class="container table-croped">
  <%  @stats.seances_range.each do |seance| %>
  <table class="table table-responsive table-hover table-striped">
    <tbody>
      <tr>
        <td class="active"><%= l seance.horaire, format: :very_long %></td>
        <td class="active"><%= raw seance.film.titrefilm.upcase %> <%= seance.version %></td>
        <td class="warning"><%= seance.extras %> <%= seance.version %> <%= seance.film.classifications.map(&:nom_classification) %> <%= seance.film.distribution %></td>
        <td class="active"><%= seance.village.commune.upcase %> <%= seance.village.salle %></td>
        <td class="info">Projection : <%= seance.projection %> - Caisse : <%= seance.caisse %></td>
        <td class="warning">Adultes = <strong><%= seance.billets_adultes.to_i %></strong> <br> Enfants = <strong><%= seance.billets_enfants.to_i %></strong> <br> Scolaires = <strong><%= seance.billets_scolaires.to_i %></strong> <br> <strong> TOTAL = <%= seance.total_billets.to_i %></strong></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>
<br>