<p>Vous pouvez téléchargez le fichier en cliquant sur ce bouton: <%= link_to 'Import séances Nodon csv', export_nodon_csv_path(format: "csv"), :class => "btn btn-warning active" %></p>
<p>Enregistrez le fichier sur votre ordinateur que vous pourrez ensuite ajouter à votre calendrier <strong>Google Agenda</strong> en allant sur sur votre interface Agenda de Google (<strong>avec un  autre navigateur que Google Chrome</strong>, ça ne marche que avec <strong>Firefox</strong> ou <strong>Internet Explorer</strong>, ou autres navigateurs à tester...)</p>
<p>puis dans <strong>'Menu Paramètres'</strong> (une roue dentée en haut à droite), choisir <strong>Paramètres</strong>, sur la colonne de droite choisir <strong>Importer et exporter</strong>, cliquez sur <strong>Séléctionnez un fichier sur votre ordinateur</strong>, sélectionner le fichier que vous venez de télécharger qui doit ressembler à seances-nodon-jj_mm_yyyy.csv (jj=jour, mm=mois, yyyy=année), en dessous choisissez à quel agenda vous ajoutez ces dates, puis cliquez sur <strong>Importer</strong>. That's all ! 🙃</p>
<br>

<h3>Et Pour un calendrier <strong>Nextcloud</strong> ?</h3>
<p>un format différent, en .ics qui ressemblerait à celui ci-dessous et qu'il suffit <strong>copier-coller dans un éditeur de texte</strong>, puis de l'enregistrer en ajoutant à la fin du nom du fichier un <strong>.ics</strong> ( par exemple export-seances-nodon.ics). Ensuite, on peut l'importer dans un calendrier Nextcloud.</p>
<p>À noter que ce format est aussi compatible pour les agendas Google</p>

<p>Pour que ce soit plus facile à copier, rendez-vous sur cette page qui s'ouvrira dans un onglet <%= link_to "Page à copier-coller", export_nodon_ics_path, :target => "_blank" %></p>
<p>vous pourrez ainsi utiliser avec votre clavier avec :
<ul>
<li> <strong>Ctl+A</strong> pour selectionner tout le texte,</li>
 <li>suivi de <strong>CTL+C</strong> pour tout copier</li>
 <li>puis <strong>Ctl+v</strong> pour coller dans un éditeur de texte (par exemple Notepad++ téléchargeable à cette adresse: <%= link_to "Téléchargement Notepad++", "https://notepad-plus-plus.org/downloads/", :target => "_blank" %>)</li>
</ul>


<br>


BEGIN:VCALENDAR<br>
VERSION:2.0<br>
CALSCALE:GREGORIAN<br>
PRODID:-//SabreDAV//SabreDAV//EN<br>
X-WR-CALNAME:ExportSeancesLouisNodon-<%= Date.today %><br>
X-PUBLISHED-TTL:PT4H<br>
BEGIN:VTIMEZONE<br>
TZID:Europe/Paris<br>
BEGIN:DAYLIGHT<br>
TZOFFSETFROM:+0100<br>
TZOFFSETTO:+0200<br>
TZNAME:CEST<br>
DTSTART:19700329T020000<br>
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=3<br>
END:DAYLIGHT<br>
BEGIN:STANDARD<br>
TZOFFSETFROM:+0200<br>
TZOFFSETTO:+0100<br>
TZNAME:CET<br>
DTSTART:19701025T030000<br>
END:STANDARD<br>
END:VTIMEZONE<br>
<% @seances.where(:village_id => 4).each do |se| %>
BEGIN:VEVENT<br>
CREATED:<%= se.created_at.strftime('%Y%m%d') %>T<%= se.created_at.strftime('%H%M%S') %><br>
LAST-MODIFIED:<%= se.updated_at.strftime('%Y%m%d') %>T<%= se.updated_at.strftime('%H%M%S') %><br>
UID:<%= se.id %><br>
SUMMARY:<%= se.film.titrefilm %> <%= se.version %><br>
DTSTART;TZID=Europe/Paris:<%= se.horaire.strftime('%Y%m%d') %>T<%= se.horaire.strftime('%H%M%S') %><br>
DTEND;TZID=Europe/Paris:<%= (se.horaire + 2.hours).strftime('%Y%m%d') %>T<%= (se.horaire + 2.hours).strftime('%H%M%S') %><br>
TRANSP:OPAQUE<br>
LOCATION:<%= se.village.commune %>, <%= se.village.salle %><br>
END:VEVENT<br>
<% end %>
END:VCALENDAR