
<hr>
  <div class="actions hidden-xs">
  <%= link_to 'Séances à venir pdf (imprimer)', seances_path(:lieu => @lieu, date: @date, :format => :pdf), :format => :pdf, :class => "btn btn-primary", :target => "_blank", :rel => "noopener noreferrer" %> <strong>pour <%= @lieu.upcase %></strong>
  <br>Attention, pensez à imprimer en "Orientation = Paysage" dans l'onglet : "Mise en page" avant l'impression.
</div>
  <div class="actions">
    <div class="btn-group">
    <button type="button" class="btn btn-danger">Plus de choix</button>
        <button type="button" class="btn btn-primary btn-danger dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <center>pour <%= @lieu.upcase %></center>
            <li><%= link_to 'Séances où il manque des inscriptions', a_completer_path(:lieu => @lieu), :class => "btn btn-warning active" %></li>
            <li><%= link_to 'Séances passées', seances_passees_path(:lieu => @lieu), :class => "btn btn-primary active" %></li>
            <li class="divider"></li>
            <li><%= link_to 'Mes Séances', mes_seances_path, :class => "btn btn-success active" %></li>
        </ul>
    </div>
  </div>
  <center><h1 id="liste"><strong>Séances à venir pour <%= @lieu.upcase %></strong></h1></center>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive table-hover table-striped table-croped2">
        <thead>
          <tr>
            <th>Date et heure</th>
            <th>FILM</th>
            <th>Lieu</th>
            <% if can? :update, Seance %>
            <th>Projection/Caisse</th>
            <th>Entrées</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @seances.seances_a_venir.lieuxtest[@lieu].compact.each do |seance| %>
          <% if seance.annulee != "Annulée" %>
            <tr>
              <% if seance.extras.present? %>
              <td class="active"><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %>
              <br>
              <span class="glyphicon glyphicon-info-sign"></span> <%= seance.extras %></td>
              <% else %>
              <td class="active"><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %> </td>
              <% end %>
              <td class="active"><span class="glyphicon glyphicon-film"></span> <%= raw seance.film.titrefilm.upcase %> <%= seance.version %> <%= seance.audio_description %></td>
              <td class="active"><span class="glyphicon glyphicon-home"></span> <%= seance.village.commune.upcase %> <%= seance.village.salle %></td>
              <% if can? :update, Seance %>
              <td class="info"><span class="glyphicon glyphicon-facetime-video"></span> <strong><em><%= seance.projection %></em></strong> - <span class="glyphicon glyphicon-briefcase"></span> <strong><em><%= seance.caisse %></em></strong></td>
              <td class="info">Adultes = <strong><%= seance.billets_adultes.to_i %></strong> / Enfants = <strong><%= seance.billets_enfants.to_i %></strong>
              <br>Scolaires = <strong><%= seance.billets_scolaires.to_i %> / </strong><strong>TOTAL = <%= seance.total_billets %></strong></td>
              <% end %>
            </tr>
            <tr>
              <td colspan="2" class="active"><strong>Info: </strong><%= seance.film.description.to_s.html_safe %>
              <% if seance.film.affiche.present? %>
              <%= link_to 'en savoir plus', "https://ecranvillage.net/?p=#{seance.film.import_id}", :title => "article sur le site d'Ecran Village", :target => "_blank", :rel => "noopener noreferrer" %>
              <% end %>
              </td>
              <% if can? :update, Seance %>
               <td colspan="2" class="info"><strong>Commentaire:</strong> <%= seance.commentaire %></td>
              <td class="warning"><%= link_to edit_seance_path(seance), class: "btn btn-warning", :title =>"Modifier" do %>
                    <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
              <% if can? :manage, @seance %>
               <%= link_to seance, method: :delete, data: { confirm: 'En êtes vous sûr ?'}, :class => "btn btn-danger", :title => "Supprimer" do %>
              <i class="glyphicon glyphicon-trash"></i>
              <% end %>
              </td>
               <% end %>
            </tr>
            <tr>
              <td colspan="5" class="warning">
                <strong>Absence(s):</strong>
              <% @disponibilites.each do |disponibilite| %>
                <% if seance.horaire.midnight.between?(disponibilite.start_time, disponibilite.end_time) == true %>
                    <strong><em><%= disponibilite.nom %></em></strong>,
                <% end %>
              <% end %>
              </td>
            </tr>
              <% end %>
            <% else %>
            <tr>
              <% if seance.extras.present? %>
              <td class="active annule"><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %>
              <br>
              <span class="glyphicon glyphicon-info-sign"></span> <%= seance.extras %></td>
              <% else %>
              <td class="active annule"><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %> </td>
              <% end %>
              <td class="active annule"><span class="glyphicon glyphicon-film"></span> <%= raw seance.film.titrefilm.upcase %> <%= seance.version%> <%= seance.audio_description %></td>
              <td class="active annule"><span class="glyphicon glyphicon-home"></span> <%= seance.village.commune.upcase %> <%= seance.village.salle %></td>
              <% if can? :update, Seance %>
              <td class="info annule"><span class="glyphicon glyphicon-facetime-video"></span> <strong><em><%= seance.projection %></em></strong> - <span class="glyphicon glyphicon-briefcase"></span> <strong><em><%= seance.caisse %></em></strong></td>
              <td class="info"><span class="glyphicon glyphicon-warning-sign"></span> <%= seance.annulee %></td>
              <% end %>
            </tr>
            <tr>
              <td colspan="4" class="active"><span class="glyphicon glyphicon-warning-sign"></span> <%= seance.extras %></td>
              <td class="warning"><span class="glyphicon glyphicon-pencil"></span> <%= link_to 'Editer', edit_seance_path(seance), :class => "btn btn-warning" %>
                <% if can? :manage, @seance %>
              <span class="glyphicon glyphicon-trash"></span> <%= link_to 'Supprimer', seance, method: :delete, data: { confirm: 'En êtes vous sûr ?'}, :class => "btn btn-danger" %>
              </td>
               <% end %>
            </tr>
            <% end %>
            <tr>
              <td colspan="5" class="separation"></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th>Date et heure</th>
            <th>FILM</th>
            <th>Lieu</th>
            <% if can? :update, Seance %>
            <th>Projection/Caisse</th>
            <th>Entrées</th>
            <% end %>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
<br>
<%= link_to '', seances_path(:lieu => @lieu), :class => "back-to-top", :title => 'Retour haut de page' %>
