<div class="container">
<center>
<h1><strong>Ajouter une séance</strong></h1>
    <%= render 'form' %>
    <%= link_to 'Retour à la liste des Films', films_path, :class => "btn btn-primary active" %>
    <%= link_to 'Retour à la liste des Séances', seances_path(:lieu => "tous les lieux"), :class => "btn btn-success active" %>
</center>
</div>
<br>
<script type="text/javascript">
    $(document).ready(function() {
        $('#datetimepicker1').datetimepicker({
            hide: true,
            inline: true,
            sideBySide: true,
            format: 'DD/MM/YYYY HH:mm',
            locale: 'fr'
        });
    });
</script>