<div class="container">
<center>
<h1><strong>Ajouter une séance</strong></h1>
	<%= render 'form' %>
	<%= link_to 'Retour à la liste des Films', films_path, :class => "btn btn-primary btn-lg active" %>
	<%= link_to 'Retour à la liste des Séances', seances_path(:lieu => "tous les lieux"), :class => "btn btn-success btn-lg active" %>
</center>
</div>
<br>
