<div class="container">
  <div class="actions hidden-xs">
  <%= link_to 'Séances passées du mois dernier en pdf (imprimer)', seances_passees_path(:lieu => params[:lieu], date: @date, :format => :pdf), :format => :pdf, :class => "btn btn-primary hidden-xs", :target => "_blank", :rel => "noopener noreferrer" %> <strong>pour <%= @lieu.upcase %></strong>
  <br>Attention, pensez à imprimer en "Orientation = Paysage" dans l'onglet : "Mise en page" avant l'impression.
 </div>
 <div class="actions">
  <%= link_to 'Séances à venir', seances_path(:lieu => params[:lieu]), :class => "btn btn-primary" %> <strong>pour <%= @lieu.upcase %></strong>
 </div>

  <center><h1 id="liste"><strong>Séances passées pour <%= @lieu.upcase %> </strong></h1></center>

<center><h2>Par ordre chronologique</h2></center>
<%= will_paginate @seances %>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive table-hover table-striped table-croped2">
        <thead>
          <tr>
            <th>Date et heure</th>
            <th>FILM</th>
            <th>Lieu</th>
            <th>Projection/Caisse</th>
            <th>Entrées</th>
          </tr>
        </thead>
          <%  @seances.lieuxtest[@lieu].compact.each do |seance| if seance.horaire < Date.today %>
          <tbody>
            <% if seance.annulee == "Annulée" %>
            <tr>
              <td class="active annule"><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %></td>
              <td class="active annule"><span class="glyphicon glyphicon-film"></span> <%= raw seance.film.titrefilm.upcase %> <%= seance.version %></td>
              <td class="active annule"><span class="glyphicon glyphicon-home"></span> <%= seance.village.commune.upcase %> <%= seance.village.salle %></td>
              <td class="info annule"><span class="glyphicon glyphicon-facetime-video"></span> <%= seance.projection %> - <span class="glyphicon glyphicon-briefcase"></span> <%= seance.caisse %></td>
              <td class="warning"> <span class="glyphicon glyphicon-warning-sign"> <%= seance.annulee %></span> <span class="glyphicon glyphicon-pencil"></span> <%= link_to 'Editer', edit_seance_path(seance), :class => "btn btn-warning" %></td>
            </tr>
            <% else %>
            <tr>
              <td class="active"><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %></td>
              <td class="active"><span class="glyphicon glyphicon-film"></span> <%= raw seance.film.titrefilm.upcase %><br>
              <%= seance.version if seance.version.present? %> <%= seance.audio_description if seance.audio_description.present? %></td>
              <td class="active"><span class="glyphicon glyphicon-home"></span> <%= seance.village.commune.upcase %> <%= seance.village.salle %></td>
              <td class="info"><span class="glyphicon glyphicon-facetime-video"></span> <%= seance.projection %> - <span class="glyphicon glyphicon-briefcase"></span> <%= seance.caisse %></td>
              <td class="warning">Adultes = <strong><%= seance.billets_adultes.to_i %></strong><br> Enfants = <strong><%= seance.billets_enfants.to_i %></strong>
              <br>
              Scolaires = <strong><%= seance.billets_scolaires.to_i %></strong><br>
              <strong> TOTAL = <%= seance.total_billets.to_i %></strong><br>
              <%= link_to edit_seance_path(seance), class: "btn btn-warning", :title =>"Modifier" do %>
                    <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
            </tr>
            <% end %>
            <tr>
              <td colspan="5" class="separation"></td>
            </tr>
        </tbody>
          <% end %>
        <% end %>
        <tfoot>
          <tr>
            <th>Date et heure</th>
            <th>FILM</th>
            <th>Lieu</th>
            <% if can? :update, Seance %>
            <th>Projection/Caisse</th>
            <th>Entrées</th>
            <% end %>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<br>
<%= link_to '', seances_passees_path(:lieu => params[:lieu],date: @date), :class => "back-to-top", :title => 'Retour haut de page' %>
