<meta charset='utf-8' />
<br>
<center><h3><strong>Séances passées pour <%= @lieu.upcase %></strong></h3></center>
<div class="row">
  <div class="col-md-12">
    <table class="table table-responsive table-hover">
        <%  @seances.seances_passees_1_mois.lieuxtest[@lieu].compact.each do |seance| if seance.horaire < Date.today %>
      <tbody>
      <% if seance.annulee != "Annulée" %>
          <tr>
            <td class="active"><%= l seance.horaire, format: :very_long %> <br> <%= seance.version %></td>
            <td class="active"><strong><%= raw seance.film.titrefilm.upcase %></strong> <br>
            <%= seance.version if seance.version.present? %> <%= seance.audio_description if seance.audio_description.present? %></td>
            <td class="active"><%= seance.village.commune.upcase %> <%= seance.village.salle %></td>
            <% if seance.projection.present? || seance.caisse.present? %>
            <td class="info">Projection : <%= seance.projection %> - Caisse : <%= seance.caisse %></td>
            <% else %>
            <td></td>
            <% end %>
            <td class="warning">Adultes = <strong><%= seance.billets_adultes.to_i %></strong> / Enfants = <strong><%= seance.billets_enfants.to_i %></strong>
            <br>Scolaires = <strong><%= seance.billets_scolaires.to_i %></strong> / <strong> TOTAL = <%= seance.total_billets.to_i %></strong></td>
      <% else %>
      <td class="warning"><%= seance.annulee %></td>
      <td class="warning"><%= raw seance.film.titrefilm.upcase %></td>
      <td class="warning"> le <%= l seance.horaire, format: :very_long %> a été annulée</td>
      <td></td>
      <td></td>
          </tr>
      <% end %>
      </tbody>
      <% end %>
      <% end %>
    </table>
  </div>
</div>