Hello, <%= @user.prenom %>!</p>

Une personne (en espèrant que c'est bien vous) a demander de réinitialisé votre mot de passe pour l'application Plannings Écran Village.

Pour choisir un nouveau mot de passe, Suivez ce lien: <%= link_to @url, @url %>.