<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @user.prenom %>!</p>

    <p>Une personne (en espèrant que c'est bien vous) a demander de réinitialisé votre mot de passe pour l'application Plannings Ècran Village.</p>

    <p>Pour choisir un nouveau mot de passe, Suivez ce lien: <%= link_to @url, @url %>.</p>
  </body>
</html>