<center>
<h1>Modifier Indisponibilité</h1>
<%= render 'form', disponibilite: @disponibilite %>

<%= link_to 'Voir', @disponibilite, :class => "btn btn-primary" %> |
<%= link_to 'Retour liste', disponibilites_path, :class => "btn btn-success" %>
</center>