
<center><h1>Indisponibilités</h1></center>

  <div class="actions">
  <h3>Pour précisez une autre indisponibilité cliquez sur le bouton ci-dessous:</h3>
  <%= link_to 'Céer une Nouvelle Indisponibilité', new_disponibilite_path, :class => "btn btn-warning" %>
  </div>
<div class="container hidden-xs">
  <h4>En dessous du calendrier, vous avez la liste de toutes les indisponibilités où vous pouvez les modifier ou les supprimer.</h4>
      <div class="col-md-12">
        <div class="table table-responsive table-hover table-striped table-row">
          <%= month_calendar events: @disponibilites do |date, disponibilites| %>
          <%= l date, format: :short %>
          <% disponibilites.each do |disponibilite| %>
            <div>
              <p>
              <%= link_to "#{disponibilite.nom}", edit_disponibilite_path(disponibilite), :title => "Modifier" %></p>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
<center><h2>Liste détaillée des absences à venir</h2></center>
<table class="table table-responsive table-hover table-striped">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Du:</th>
      <th>Au:</th>
    </tr>
  </thead>
  <tbody>
    <% @disponibilites.order(start_time: :asc).each do |disponibilite| %>
    <% if disponibilite.end_time.future? %>
      <tr>
        <td><%= disponibilite.nom %></td>
        <td><%= l disponibilite.start_time, format: :middle_long %></td>
        <td><%= l disponibilite.end_time, format: :middle_long %></td>
      <tr>
        <td colspan="3"><div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
          Actions<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Modifier', edit_disponibilite_path(disponibilite), :class => "btn btn-warning active btn-block" %></li>
            <li><%= link_to 'Suprimer', disponibilite, method: :delete, data: { confirm: 'En êtes-vous sûr ?' }, :class => "btn btn-danger active btn-block" %></li>
            <li class="divider"></li>
            <li><%= link_to 'Voir', disponibilite, :class => "btn btn-primary active btn-block" %></li>
           </ul>
        </div>
        </td>
      </tr>
      <tr>
        <td class="separation" colspan="3"></td>
      </tr>
    </tbody>
    <% end %>
    <% end %>
  </tbody>
</table>

