<h1 class="text-center"><strong>FAQ</strong></h1>
	<div class="description">
		<% if can? :update, Seance %>
		    <h4>Vous êtes bien connecté, enregistré et avez au moins des permissions d'édition si vous lisez ce message.</h4>
		    <h4>Bonne navigation, si vous avez des suggestions, des choses à me remonter, n'hésitez pas à me le dire par mail <a href="mailto:rodolphe.robles@sfr.fr">rodolphe.robles@sfr.fr</a></h4>
		<% else %>
		  <h2> À lire attentivement avant de vous enregistrer.</h2>
			<h4>Bienvenue bénévole, si vous n'êtes pas encore enregistré, pour vous inscrire, il vous faut cliquer sur ce bouton <span><%= link_to "S'enregistrer", new_user_path, :class => "label label-warning" %></span>
			<br>
			En cliquant dessus, vous devriez voir apparaître un message de mise en garde pour prévenir que ce site est réservé aux bénévoles d'Écran Village.
			<br>
			<strong>(Nota : à priori tous les bénévoles sont déjà inscrits, écrivez-moi si vous avez un doute)</strong>.
			<br>
			On vous demandera votre prénom (qui servira aux inscriptions des séances) qui doit être unique (si le prénom est déjà utilisé alors vous aurez un message, dans ce cas ajoutez une lettre ou un chiffre au prénom), votre nom  (facultatif), votre téléphone (facultatif aussi), votre adresse mail (indispensable) qui servira à vous connecter et votre mot de passe, qu'il faut retaper (et bien retenir), puis cliquez sur le bouton 'Valider'. Vous ariverez ensuite sur une session connectée.<br>
			Il vous faudra ensuite <strong>me contacter pour que je vous ouvre les permissions</strong>, sinon vous n'accéderez pas à l' édition des séances.<br>
			Ensuite, à l'avenir, vous pourrez vous connecter en cliquant sur le bouton vert <%= link_to "Se connecter", log_in_path, :class => "btn btn-lg btn-success" %>  qui vous conduit sur le lien: https://progamme.ecranvillage.deploiement.ovh/log_in (à conserver précieusement dans votre Marque page ou Favoris de votre navigateur internet).
			<br>
			 Vous devriez voir ensuite un message : Bienvenue ! <span class="label label-info">Votre nom d'utilisateur</span> en haut à droite.
			 <br>
			 A ce stade, vous n'avez plus besoin de vous enregistrer par la suite, si vous n'arrivez plus à vous connecter après avoir été enregistré, prévenez-moi par mail (ci-dessous).
			<br>
			 Si c'est la première fois que vous vous inscrivez et que vous pensez faire partie des bénévoles d'Ecran Village, vous ne verrez rien d'autre tant que je n'aurai pas changé vos permissions, <strong>vous devez me demander de vous ouvrir ces permissions</strong> en me le demandant par mail : <a href="mailto:rodolphe.robles@sfr.fr" title="M'envoyer un mail">rodolphe.robles@sfr.fr</a>.
      <br>
      Une fois connecté, n'hésitez pas à revenir sur cette page Aide ou vous aurez une FAQ avec plein d'astuces.</h4>
		<% end %>
	</div>
	<% if can? :update, Seance %>
		<div class="description">
			<center><h1>Sommaire</h1></center>
			<h4><%= link_to 'Les Calendriers', aide_path(:anchor => "calendriers") %></h4>
			<h4><%= link_to 'Comment m\'inscrire pour la projection ou la caisse d\'une séance', aide_path(:anchor => "inscriptions") %></h4>
			<h4><%= link_to 'Comment éditer le nombre de séances après une projection ?', aide_path(:anchor => "editer-entrees") %></h4>
			<h4><%= link_to 'Comment savoir où je suis inscrit ?', aide_path(:anchor => "mes_seances") %></h4>
			<h4><%= link_to 'Comment modifier mon mot de passe ou autre information me concernant ?', aide_path(:anchor => "me_modifier") %></h4>
			<h4><%= link_to 'Comment inscrire une indisponibilité ou absence ?', aide_path(:anchor => "absences") %></h4>
			<h4><%= link_to 'Comment calculer le nombre d\'entrées ?', aide_path(:anchor => "calcul") %></h4>
				<% if can? :manage, Film %>
					<center><h3>Pour les administrateurs</h3></center>
					<h4><%= link_to 'Comment ajouter un film ?', aide_path(:anchor => "ajout-film") %></h4>
					<h4><%= link_to 'Comment faire remonter un film anciennement édité dans la page Films ?', aide_path(:anchor => "vue-film") %></h4>
					<h4><%= link_to 'Comment inscrire un nouvel utilisateur ?',aide_path(:anchor => "inscrire-utilisateur") %></h4>
					<h4><%= link_to 'Comment ouvrir les permissions pour un bénévole récemment inscrit ?',aide_path(:anchor => "permissions-utilisateur") %></h4>
				<% end %>
			</div>
			<center><h2 id="calendriers"><strong>Les calendriers</strong></h2></center>
				<div class="description">
				    <h4>Sur la page d'Accueil ou Calendrier Public, avant d'être connecté, les calendriers ne montre que les séances (pas nos inscriptions en tant que bénévoles) où en survolant une séance avec la souris et en cliquant dessus, une page d'Ecran Village sur le film s'ouvre dans un onglet.</h4>
				    <h4>On peut choisir un calendrier par lieu en cliquant sur les boutons avec leur noms, il y a une couleur par nom dans les séances (<span class="vernoux">Vernoux</span>,<span class="lamastre">Lamastre</span>,<span class="chalencon">Chalencon</span>,<span class="itinerance">Itinérance</span>).</h4>
					    <div class="container">
							<center><%= image_tag("calendrier-accueil", :alt => "calendrier, choix lieu", :class => "capture") %></center>
						</div>
					<h4>Une fois connecté, vous arriverez sur la page 'Édition Calendriers'. Vous pourrez choisir un calendrier par lieu. En cliquant sur une séance, on peut éditer celle-ci. Pour avancer d'une semaine on clique sur les flèches en haut du calendrier</h4>
						<div class="container">
				        	<center><%= image_tag("calendrier-avancer-semaine", :alt => "calendrier, flèche avancer", :class => "capture") %></center>
						</div>
				    <h4>Dans la barre de navigation, on a accés à 'Édition Calendriers' où les calendriers précisent les inscriptions des bénévoles.</h4>
					<h4>On peut éditer une séance en cliquant dessus, elle s'inscrit en vert quand on passe dessus avec la souris.</h4>
						<div class="container">
							<center><%= image_tag("calendrier-edition", :alt => "calendrier, survol séance et choix édition", :class => "capture") %></center>
						</div>
				</div>
			<center><h2 id ="inscriptions"><strong>Comment m'inscrire pour la projection ou la caisse d'une séance</strong></h2></center>
				<div class="description">
					<h4>Pour vous insrire dans une séance, soit dans une des pages Calendriers et en choisissant votre lieu et en cliquant sur une séance pour l'éditer (elle devient verte avant de cliquer dessus), soit en allant dans  l'onglet Séances, choisissez votre Lieu si vous préférez ou sur "Tous les lieux" ou bien dans l'onglet Films (la liste des Films est rangée par Film avec les séances correspondantes à ce film par date), là aussi vous pouvez cliquer sur le bouton éditer sur une séance. Cliquez sur le bouton "Editer" en face de la séance en question.</h4>
					<h4>Pour s'inscrire pour la projection ou la caisse,  cliquez sur le champ en question et vous verrez la liste des noms des bénévoles (par ordre alphabètique), si vous êtes plus bas, il faut descendre. Faîtes attention à ne pas choisir un autre nom que le votre !</h4>
						<div class="container">
							<center><%= image_tag("edition-projection-scroll", :alt => "fenêtre d'édition d'une séance, choix bénévole projection", :class => "capture") %></center>
							<center><%= image_tag("edition-projection-choix", :alt => "fenêtre d'édition d'une séance, choix bénévole projection", :class => "capture") %></center>
				        </div>
				    <h4>Vous pouvez aussi ajouter un commentaire si vous le souhaitez. Ensuite, il vous reste à Valider la séance en descendant en bas de la page.</h4>
				        <div class="container">
							<center><%= image_tag("capture-valider-seance", :alt => "fenêtre d'édition d'une séance, validation", :class => "capture") %></center>
						</div>
					<h4><strong>Astuces:</strong> Quand vous choisissez des Séances par lieu (Lamastre, Vernoux ou Chalencon), vous avez un bouton 'Séances où il manque des inscriptions' qui vous listera toutes les séances où il manque un projectionniste et les séances où il manque une personne à la caisse pour ce lieu !</h4>
				        <div class="container">
							<center><%= image_tag("bouton_seances_manque_inscriptions", :alt => "fenêtre séances à compléter", :class => "capture") %></center>
				        	<center><%= image_tag("seances_a_completer", :alt => "fenêtre séances à compléter", :class => "capture") %></center>
				        	<center><%= image_tag("seances_a_completer2", :alt => "fenêtre séances à compléter", :class => "capture") %></center>
				        </div>
					<h4>Si on veut de nouveau laisser le champ vide pour une projection (si on s'est inscrit par erreur), tout en haut du champ, il y a un champ vide, il suffit de le sélectionner et de valider de nouveau.</h4>
					<h4>Quand vous validez, vous voyez le résulat de ce que vous venez d'éditer. Vous avez alors le choix de modifier de nouveau la séance, de revenir à la page 'Films', aux séances (par lieu de la séance), aux séances à compléter (celles où il manque quelqu'un par lieu de la séance), aux séances(de tous les lieux), ou bien encore à 'Mes Séances' pour voir les séances où vous vous êtes inscrits.</h4>
					<h4>Si les informations sont correctes, elles sont déjà prises en compte, vous pouvez aussi choisir de revenir à une autre page dans la barre de navigation en haut.</h4>
						<div class="container">
							<center><%= image_tag("edition-seance-show", :alt => "fenêtre d'édition d'une séance, vue après validation", :class => "capture") %></center>
				        </div>
				</div>
			<center><h2 id="editer-entrees"><strong>Comment éditer le nombre de séances après une projection ?</strong></h2></center>
				<div class="description">
					<h4>On choisit la séance que l'on veut éditer (même procédure que l'exemple d'au-dessus), en bas du formulaire on voit les champs "Billets adultes", Billets enfants" et "Billets scolaires". Devant ces champs, on voit des petites flèches, une qui pointe vers le haut et l'autre vers le bas. En allant dessus avec votre souris et en cliquant, vous allez ajouter ou enlever des entrées.</h4>
					   <div class="container">
						<center><%= image_tag("capture-edition-billet-seance", :alt => "fenêtre d'édition d'une séance, édition billets", :class => "capture") %></center>
				       </div>
				    <h4>Ensuite, il faudra Valider la modification et vous pourrez toujours vérifier si les informations sont exactes ou si vous voulez de nouveau les modifier.</h4>
				</div>
				<center><h2 id="mes_seances"><strong>Comment savoir où je suis inscrit ?</strong></h2></center>
				<div class="description">
				    <h4>Vous pouvez voir les séances où vous êtes inscrits dans l'onglet Séances en choisissant: mes séances ou bien dans la page 'Séances' en cliquant sur le bouton 'Mes séances'</h4>
				    <div class="container">
							<center><%= image_tag("menu-mes_seances", :alt => "onglet Séances et choix mes séances", :class => "capture") %></center>
							<center><%= image_tag("seance-choix-mes-seances", :alt => "onglet Séances et choix mes séances", :class => "capture") %></center>
					</div>
				</div>
			<center><h2 id="me_modifier"><strong>Comment modifier mon mot de passe ou autre information me concernant ?</strong></h2></center>
				<div class="description">
					<h4>Dans l'onglet Utilisateurs, vous voyez la liste des utilisateurs avec leur informations. Sur la ligne devant votre nom, il y a un bouton 'Me modifier', vous pouvez cliquer dessus pour changer des informations vous concernant ou votre mot de passe (quoi que vous changiez, je vous conseille de retaper votre mot de passe). Puis pensez à valider vos changements.</h4>
						<div class="container">
							<center><%= image_tag("capture-modif-utilisateur", :alt => "résultat du choix des jours pour le calcul des entrées", :class => "capture") %></center>
							<center><%= image_tag("capture-modif-manager-valid", :alt => "résultat du choix des jours pour le calcul des entrées", :class => "capture") %></center>
						</div>
				</div>
			<center><h2 id="absences"><strong>Comment inscrire une indisponibilité ou absence ?</strong></h2></center>
				<div class="description">
					<h4>Dans l'onglet Disponibilités, vous verrez un calendrier avec la liste des Indisponibilités avec les noms en rouge et en dessous la liste des indisponibilités à venir ordonnées par dates. <br>
					Pour créer, signaler une nouvelle indisponibilité, on clique sur le bouton en haut 'Créer une nouvelle Indisponibilité'. On arrive sur un formulaire avec la date de début et celle de la fin de notre absence à signaler et on valide notre choix.</h4>
					    <div class="container">
							<center><%= image_tag("indisponibilites3", :alt => "calendrier absences", :class => "capture") %></center>
							<center><%= image_tag("indisponibilites2", :alt => "calendrier absences", :class => "capture") %></center>
						</div>
					<h4>Si on clique sur le nom en rouge on édite ou modifie l'indisponibilité en question ou bien dans la "Liste détaillée des absences en dessous du calendrier avec le bouton 'Modifier'.</h4>
						<div class="container">
							<center><%= image_tag("indisponibilites", :alt => "calendrier absences", :class => "capture") %></center>
						</div>
				</div>
			<center><h2 id="calcul"><strong>Comment calculer le nombre d'entrées ?</strong></h2></center>
				<div class="description">
					<h4>Dans l'onglet Entrées, en début de page, il y a un champ à remplir avec la date de début puis un champ avec la date de fin pour définir la période choisie pour le calcul de nombre d'entrées. Par défaut, il y a un calcul d'une semaine jusqu'à aujourd'hui. On choisit les dates, celles que l'on veut.</h4>
					<h4>On voit ensuite en-dessous le choix qui sera pris en compte pour les calculs.</h4>
					<h4>On aura ensuite le calcul des séances,des films pour cette période, dont celle(s) annulée(s). Puis par classifications (Jeune Public, Patrimoine et Répertoire, Recherche et Découvertes, Toutes les classifications). Par distibition ADRC. Puis les totaux par lieux, puis enfin par film et par lieux. Et la liste des séances prises en compte.</h4>
						<div class="container">
							<center><%= image_tag("entrees", :alt => "choix jours pour le calcul les entrées", :class => "capture") %></center>
							<center><%= image_tag("resultat-classifications", :alt => "résultats classifications", :class => "capture") %></center>
							<center><%= image_tag("resultat-distrib", :alt => "résultats classifications", :class => "capture") %></center>
							<center><%= image_tag("resultat-lieux", :alt => "résultat par lieux", :class => "capture") %></center>
							<center><%= image_tag("resultat-film", :alt => "résultat par film", :class => "capture") %></center>
						</div>
				</div>
		<% if can? :manage, Film %>
			<center><h2 id="ajout-film"><strong>Comment ajouter un film ?</strong></h2></center>
				<div class="description">
					<h4>Pour ajouter un film sur l'application, il vaut mieux passer par le site Wordpress et systématiquement <strong>toujours vérifier si le film n'existe pas déjà</strong> sur le site et/ou sur l'application ! Pourquoi ? Par ce que l'on risque d'avoir des problèmes avec la base de données si on mélange des IDs des Films qui viennent du site et d'autres de l'application. Donc, le mieux sera de procéder comme suit :</h4>
					<h4>Si le film a déjà été éditer sur le site, il suffit de <strong>cocher de nouveau la catégorie 'Export'</strong> sur l'article et de l'importer ensuite sur l'application avec le bouton <strong>'Importer des nouveaux films'</strong>. Sinon, il faut éditer le film sur le site Écran Village en Wordpress, même si il ne doit pas être visible par les visiteurs. Dans le cas où il ne doit apparaître que sur l'application, il faudra bien songer à <strong>cocher la catégorie 'Export'</strong> et à l'<strong>exclure du XML sitemap "Exclude from XML Sitemap"</strong> pour pas que google le recherche dans les métas du site, surtout si on le supprime par la suite, c'est aussi une case à cocher.</h4>
						<div class="container">
							<center><%= image_tag("cat-export-wp-ev", :alt => "cocher catégorie export", :class => "capture") %></center>
							<center><%= image_tag("excude-sitemap-wp-ev", :alt => "exclure du sitemap", :class => "capture") %></center>
						</div>
					<h4>Puis il ne restera plus qu'à importer le film avec le bouton d'import de l'appication dans la page Films.</h4>	<div class="container">
							<center><%= image_tag("ajout-films", :alt => "cocher catégorie export", :class => "capture") %></center>
						</div>
				</div>
			<center><h2 id="vue-film"><strong>Comment faire remonter un film anciennement édité dans la page Films ?</strong></h2></center>
				<div class="description">
					<h4>Si on veut refaire apparaître un film anciennement enregistré, il suffit de changer sa date de mise à jour, les films visibles sur la page Films sont ceux qui ont été <strong>'Mis à jour'</strong> depuis 3 semaines jusqu'à aujourd'hui. Il suffit donc de <strong>'Modifier'</strong> le film et de mettre une date qui est précisée au-dessus du champ, par exemple celle du jour même pour qu'il reste 3 semaine dans la vue.</h4>
					<h4>L'ordre des films vus dans la page des films à venir est: le dernier mis à jour en haut de la page...</h4>
						<div class="container">
							<center><%= image_tag("updated-film", :alt => "cocher catégorie export", :class => "capture") %></center>
						</div>
				</div>
		    <center><h2 id="inscrire-utilisateur"><strong>Comment inscrire un utilisateur ?</strong></h2></center>
				<div class="description">
					<h4>Pour inscrire un nouvel utilisateur, il faut d'abord être déconnecté de l'application et aller sur l'adresse https://programme.ecranvillage.net/aide (il suffit d'ajouter /aide à l'adresse de l'application dans la barre de navigation du navigateur web). Puis cliquer sur le bouton 'S'enregistrer' (ou bien aller directement à la page d'enregistrement https://programme.ecranvillage.net/users/new).</h4>
						<div class="container">
							<center><%= image_tag("page_aide", :alt => "page aide", :class => "capture") %></center>
            </div> 
					<h4>Ensuite remplir les champs et cliquer sur Valider. Il faudra aussi penser à lui ouvrir les permissions nécessaires par la suite.</h4>
            <div class="container">
							<center><%= image_tag("inscription", :alt => "page enregistrement", :class => "capture") %></center>
            </div> 
			    </div>

			<center><h2 id="permissions-utilisateur"><strong>Comment ouvrir les permissions pour un bénévole récemment inscrit ?</strong></h2></center>
				<div class="description">
					<h4>Quand un bénévole s'inscrit pour la première fois, il n'a accès à rien, il faut lui ouvrir des droits. Il y a trois rôles (permissions) : guest, manager et admin. En s'inscrivant, l'utilisateur a par défaut à un rôle <strong>guest</strong> (invité). Pour qu'il puisse éditer des séances, il faut <strong>'Éditer'</strong> l'utilisateur en tant qu'<strong>admin</strong> dans l'onglet <strong>'Utilisateurs'</strong> et lui donner un rôle de <strong>manager</strong>.</h4>
						<div class="container">
							<center><%= image_tag("edition-utilisateur", :alt => "cocher catégorie export", :class => "capture") %></center>
							<center><%= image_tag("edition-permissions", :alt => "cocher catégorie export", :class => "capture") %></center>
						</div>
			    </div>
			<% end %>
		<% end %>
<%= link_to '', aide_path, :class => "back-to-top", :title => 'Retour haut de page' %>