/* line 5, app/assets/stylesheets/calendar.scss */
.today {
  background: #AB9A9A;
}

/* line 8, app/assets/stylesheets/calendar.scss */
li {
  list-style-position: inherit !important;
  list-style-type: none;
}

/* line 12, app/assets/stylesheets/calendar.scss */
.vernoux {
  color: #3232dd;
}

/* line 15, app/assets/stylesheets/calendar.scss */
.lamastre {
  color: #c1272d;
}

/* line 18, app/assets/stylesheets/calendar.scss */
.chalencon {
  color: #990099;
}

/* line 21, app/assets/stylesheets/calendar.scss */
.itinerance {
  color: #9b8d26;
}

/* line 24, app/assets/stylesheets/calendar.scss */
ul .dropdown-menu.calendrier li {
  list-style-position: inherit !important;
  list-style-type: none;
}

/* line 28, app/assets/stylesheets/calendar.scss */
a.btn.btn-default.vernoux {
  color: #3232dd;
}

/* line 31, app/assets/stylesheets/calendar.scss */
a.btn.btn-default.lamastre {
  color: #c1272d;
}

/* line 34, app/assets/stylesheets/calendar.scss */
a.btn.btn-default.chalencon {
  color: #990099;
}

/* line 37, app/assets/stylesheets/calendar.scss */
a.btn.btn-default.itinerance {
  color: #9b8d26;
}

/* line 41, app/assets/stylesheets/calendar.scss */
.calendrier li {
  list-style-position: inherit !important;
  list-style-type: none;
}

/* line 44, app/assets/stylesheets/calendar.scss */
.calendar a {
  color: #9b8d26;
}

/* line 47, app/assets/stylesheets/calendar.scss */
a.vernoux {
  color: #3232dd;
}

/* line 50, app/assets/stylesheets/calendar.scss */
a.lamastre {
  color: #c1272d;
}

/* line 53, app/assets/stylesheets/calendar.scss */
a.chalencon {
  color: #990099;
}

/* line 56, app/assets/stylesheets/calendar.scss */
li hr {
  color: firebrick;
  background-color: firebrick;
  height: 3px;
}

/* line 60, app/assets/stylesheets/calendar.scss */
tbody tr:nth-of-type(2n) {
  background-color: #f0f0f0;
}

/* line 63, app/assets/stylesheets/calendar.scss */
.table.table.table-responsive th, table.table.table-responsive td {
  text-align: center;
}

/* line 66, app/assets/stylesheets/calendar.scss */
div.datepicker {
  width: 30%;
}

@media screen and (max-width: 800px) {
  /* line 70, app/assets/stylesheets/calendar.scss */
  .table-croped thead, .table-cproped th {
    display: none;
  }
  /* line 71, app/assets/stylesheets/calendar.scss */
  .table-croped table {
    width: 100%;
  }
  /* line 72, app/assets/stylesheets/calendar.scss */
  .table-croped tr:nth-of-type(2n) {
    background-color: inherit;
  }
  /* line 73, app/assets/stylesheets/calendar.scss */
  .table-croped tr td:first-child {
    background: #f0f0f0;
  }
  /* line 74, app/assets/stylesheets/calendar.scss */
  .table-croped tbody td {
    display: block;
    text-align: center;
  }
  /* line 75, app/assets/stylesheets/calendar.scss */
  .table-croped tbody td:before {
    content: attr(data-th);
    display: block;
    text-align: center;
  }
  /* line 80, app/assets/stylesheets/calendar.scss */
  .table-croped2 thead, .table-croped2 tfoot, .table-cproped2 th {
    display: none;
  }
  /* line 81, app/assets/stylesheets/calendar.scss */
  .table-croped2 table {
    width: 100%;
  }
  /* line 82, app/assets/stylesheets/calendar.scss */
  .table-croped2 tr:nth-of-type(2n) {
    background-color: inherit;
  }
  /* line 83, app/assets/stylesheets/calendar.scss */
  .table-croped2 tr td:first-child {
    background: #f0f0f0;
  }
  /* line 84, app/assets/stylesheets/calendar.scss */
  .table-croped2 tbody td .active {
    display: block;
    text-align: center;
  }
  /* line 85, app/assets/stylesheets/calendar.scss */
  .table-croped2 tbody td .active {
    content: attr(data-th);
    display: block;
    text-align: center;
  }
  /* line 90, app/assets/stylesheets/calendar.scss */
  div.datepicker {
    width: 50%;
  }
}

@media screen and (max-width: 440px) {
  /* line 95, app/assets/stylesheets/calendar.scss */
  div.datepicker {
    width: 80%;
  }
}
