/* Red */
/* line 7, app/assets/stylesheets/nav.scss */
.navbar-inverse {
  background-color: #c1272d !important;
  border-color: #9b473f !important;
}

/* line 10, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-brand {
  color: #ecf0f1 !important;
}

/* line 12, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #9bd19b !important;
}

/* line 16, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #ecf0f1 !important;
}

/* line 18, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #9bd19b !important;
}

/* line 21, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-nav .active > a, .navbar-inverse .navbar-nav .active > a:hover, .navbar-inverse .navbar-nav .active > a:focus {
  color: #9bd19b !important;
  background-color: #9b473f !important;
}

/* line 25, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-nav .open > a, .navbar-inverse .navbar-nav .open > a:hover, .navbar-inverse .navbar-nav .open > a:focus {
  color: #9bd19b !important;
  background-color: #9b473f !important;
}

/* line 28, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-nav .open > a .caret, .navbar-inverse .navbar-nav .open > a:hover .caret, .navbar-inverse .navbar-nav .open > a:focus .caret {
  border-top-color: #9bd19b !important;
  border-bottom-color: #9bd19b !important;
}

/* line 33, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #ecf0f1 !important;
  border-bottom-color: #ecf0f1 !important;
}

/* line 37, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret, .navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #9bd19b !important;
  border-bottom-color: #9bd19b !important;
}

/* line 40, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-toggle {
  border-color: #9b473f !important;
}

/* line 42, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #9b473f !important;
}

/* line 44, app/assets/stylesheets/nav.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ecf0f1 !important;
}

@media (max-width: 767px) {
  /* line 47, app/assets/stylesheets/nav.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1 !important;
  }
  /* line 49, app/assets/stylesheets/nav.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #9bd19b !important;
    background-color: #9b473f !important;
  }
}

/* line 54, app/assets/stylesheets/nav.scss */
.nav .connexion {
  margin-left: 10px;
}

/* line 58, app/assets/stylesheets/nav.scss */
.navbar > a.btn:hover, navbar > a.btn:focus, navbar > a:focus {
  color: #449d44;
}

/* line 62, app/assets/stylesheets/nav.scss */
.logo {
  position: relative;
  float: right;
  margin-right: 15px;
}

/* line 68, app/assets/stylesheets/nav.scss */
.image-logo {
  width: 100%;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
  transition: 3s ease-in-out;
  perspective: 800px;
  perspective-origin: 50% 100px;
}

/* line 78, app/assets/stylesheets/nav.scss */
.image-logo:hover {
  transform: rotateY(60deg);
}
