@import url(bootstrap.min.css);
/* line 3, /var/www/plannings_cinema/app/assets/stylesheets/pdf.css.scss */
table {
  width: 100%;
  border: 1px solid #999999;
  table-layout: fixed;
}

/* line 8, /var/www/plannings_cinema/app/assets/stylesheets/pdf.css.scss */
th, td {
  padding: 5px 10px 10px 10px;
  font-size: 50%;
  word-wrap: break-word;
  text-align: center;
}

/* line 14, /var/www/plannings_cinema/app/assets/stylesheets/pdf.css.scss */
th {
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999999;
  border-bottom: 5px solid #111111;
  border-top: 1px solid #999999;
  font-size: 80%;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
}

/* line 23, /var/www/plannings_cinema/app/assets/stylesheets/pdf.css.scss */
td {
  font-size: 0.8em;
}

/* line 26, /var/www/plannings_cinema/app/assets/stylesheets/pdf.css.scss */
div.new-section {
  page-break-inside: avoid;
}

/* line 29, /var/www/plannings_cinema/app/assets/stylesheets/pdf.css.scss */
.container, .new-section, .new-section table.fixed {
  width: 100%;
}

/* line 32, /var/www/plannings_cinema/app/assets/stylesheets/pdf.css.scss */
.stripe {
  background-color: #dddddd;
  color: #666666;
}

/* line 36, /var/www/plannings_cinema/app/assets/stylesheets/pdf.css.scss */
div.new-section {
  page-break-inside: avoid;
}

/* line 39, /var/www/plannings_cinema/app/assets/stylesheets/pdf.css.scss */
.container, .new-section, .new-section table.fixed {
  width: 100%;
}

/* line 42, /var/www/plannings_cinema/app/assets/stylesheets/pdf.css.scss */
.new-section table.fixed {
  table-layout: fixed;
}

/* line 45, /var/www/plannings_cinema/app/assets/stylesheets/pdf.css.scss */
.page-break {
  display: block;
  clear: both;
  page-break-after: always;
}
