/* line 1, app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #1B0404;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 18px;
}

/* line 9, app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 18px;
  overflow: visible;
  /* pour Opera 9 */
  text-overflow: ellipsis;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

/* line 23, app/assets/stylesheets/scaffolds.scss */
ol, ul {
  padding: 1%;
}

/* line 27, app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 33, app/assets/stylesheets/scaffolds.scss */
a {
  color: #c1272d;
}

/* line 36, app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #449d44;
  text-decoration: none;
}

/* line 43, app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 48, app/assets/stylesheets/scaffolds.scss */
#notice {
  font-size: 1.2em;
  padding: 2px 5px;
  color: green;
}

/* line 54, app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 60, app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 68, app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

/* line 79, app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 1.2em;
  list-style: square;
}

/* line 85, app/assets/stylesheets/scaffolds.scss */
#error {
  font-size: 1.2em;
  color: green;
  padding: 2px 5px;
}
