<center>
<h1><strong>Modifier un utilisateur</strong></h1>
	<div class="container">
		<%= render 'form' %>
		<%= link_to 'Retour utilisateurs', users_path, :class => "btn btn-primary btn-lg" %>
	</div>
</center>
<br>