<meta charset='utf-8' />
<% if can? :update, User %>
    <h2>Liste des Bénévoles (inscrits sur le plannings)</h2>
<table class="table table-responsive table-hover table-striped">
  <tbody>
    <tr>
      <th><strong>PRÉNOM</strong></th>
      <th><strong>NOM</strong></th>
      <th><strong>EMAIL</strong></th>
      <th><strong>TÉLÉPHONE</strong></th>
    </tr>
<% @users.users_alphabet.each do |user| %>
    <tr>
        <td><%= user.prenom.capitalize %></td>
        <td><%= user.nom.capitalize %></td>
         <td><%= user.email %></td>
         <td><%= user.telephone %></td>
    </tr>
  </tbody>
<% end %>
</table>
<% end %>