<center>
<h1>Edition du Lieu</h1>
<%= render 'form', village: @village %>

<%= link_to 'Voir', @village, :class => "btn btn-success" %> |
<%= link_to 'Retour liste lieux', villages_path, :class => "btn btn-primary"%>
</center>