<center><h1>Lieux</h1></center>
<% if can? :update, Seance %>
<div class="actions">
<%= link_to 'Créer un nouveau Lieu', new_village_path, :class => "btn btn-warning" %>
</div>
<table class="table table-responsive table-hover table-striped">
  <thead>
    <tr>
      <th>Commune</th>
      <th>Salle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @villages.each do |village| %>
      <tr>
        <td><%= village.commune %></td>
        <td><%= village.salle %></td>
        <td><%= link_to 'Voir', village, :class => "btn btn-primary" %></td>
        <td><%= link_to 'Éditer', edit_village_path(village), :class => "btn btn-warning" %></td>
        <td><%= link_to 'Supprimer', village, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>