<center>
<h2>
  <strong>Commune:</strong>
  <%= @village.commune %>
</h2>

<h2>
  <strong>Salle:</strong>
  <%= @village.salle %>
</h2>
<%= link_to 'Editer', edit_village_path(@village), :class => "btn btn-warning" %> |
<%= link_to 'Retour liste des lieux', villages_path, :class => "btn btn-primary" %>
</center>
