<%= form_for(@film) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <%= f.label :titrefilm %><br>
    <%= f.text_field :titrefilm, :maxlength => 50, :class => 'champ_input' %>
  </div>
  <div class="field">
      <% distributions = ["Autres", "ADRC"] %>
        <span class="glyphicon glyphicon-info-sign"></span> <%= f.label :distribution, :value => 'distribution' %><br>
        <%= f.select :distribution, distributions, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :maxlength => 900 %>
  </div>
  <div class="field">
    <%= f.label :affiche %><br>
    <%= f.text_field :affiche  %>
  </div>
  pour voir le film dans la page Films, choisir une date entre <%= l 3.week.ago.midnight, format: :middle_long %> et <%= l Date.today, format: :middle_long  %>, les films mis à jour il y a 3 semaines à aujourd'hui appaîtront.<br>
  <div class="field">
    <%= f.label :updated_at, 'Mis à jour le' %>
    <%= f.datetime_select :updated_at %>
  </div>
   <div class="field">
    <%= f.label "Cochez les classifications" %><br />
    <%= f.collection_check_boxes :classification_ids, Classification.all, :id, :nom_classification do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <input type="submit" class="btn btn-warning" value="Valider" />
  </div>
  <% end %>
