<div class="container">
    <div class="actions">
        <%= link_to 'Calendrier Général', root_path(:lieu => "tous les lieux"), :class => "btn btn-default btn-lg" %>
    </div>
</div>

    <div class="cine">
        <h1 class="cine-titre"><strong>Films du mois</strong></h1>
        <p class="cine-titre">( depuis le <%= l 3.week.ago %> )</p>
    </div>

<br>
<div class="container">
<% if can? :manage, @films %>
    <div class="btn-group">
    <button type="button" class="btn btn-danger">Ajouter</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Créer une nouvelle séance', new_seance_path, :class => "btn btn-primary active" %></li>
            <li><%= link_to 'Créer une nouveau lieu', new_village_path, :class => "btn btn-primary active" %></li>
            <li class="divider"></li>
            <li><%= link_to 'Ajouter les nouveaux films à venir', ecranvillage_path, :class => "btn btn-danger active" %></li>
        </ul>
    </div>
<% end %>
</div>
<br>

<div class="container">
<% if can? :update, Seance %>
    <div class="actions">
        <%= link_to 'Rechercher un film', films_path, :class => "btn btn-warning" %>
    </div>
<% end %>
</div>
<br>
<div class="film-seances">
    <% @films.order(updated_at: :asc).each do |film| %>
    <% seances = film.seances.seances_1_semaine_avant_2_mois_apres %>
    <% if seances.present? %>
        <div class="seance description">
            <div class="container">
                <center><h3 id="<%= film.titrefilm.upcase %>"><span class="glyphicon glyphicon-film"></span> <strong><%=raw film.titrefilm.upcase %></strong></h3></center>
            </div>
            <div class="container">
                <center>
                <% if can? :manage, @film %>
                    <%= link_to edit_film_path(film), class: "btn btn-warning", :title =>"Modifier" do %>
                        <i class="glyphicon glyphicon-pencil"></i>
                    <% end %>
                    <%= link_to film, method: :delete, data: { confirm: 'En êtes vous sûr ?'}, :class => "btn btn-danger", :title =>"Supprimer" do %>
                        <i class="glyphicon glyphicon-trash"></i>
                    <% end %>
                    <% if film.distribution.present? %>
                        <%= film.distribution %>,
                    <% end %>
                <% end %>
                <% if film.classifications.present? %>
                    <%= film.classifications.map(&:nom_classification).sort.join(", ") %>
                <% end %>
                </center>
            </div>
        <div class="description">
            <% if film.affiche.present? %>
                <div class="row">
                    <div class=".col-xs-6 .col-md-4">
                        <img class="affiche" style="float:left" src="<%= film.affiche %>" />
                        <div class="apropos">
                            <div class="content-heading text-center"><h3>A propos :</h3>
                            </div>
                            <div class="text-center italic">
                                <p><%=simple_format h film.description %> <%= link_to 'en savoir plus', "https://ecranvillage.net/?p=#{film.import_id}", :title => "article sur le site d'Ecran Village", :target => "_blank", :rel => "noopener noreferrer" %></p>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            <% else %>
                <h3>A propos :</h3>
                    <div class="text-center italic">
                        <p><%=simple_format h film.description %></p>
                    </div>
            <% end %>
        </div>
        <h4><strong>Séances à venir :</strong></h4>
        <% futures_seances = film.seances.seances_asc.each.map do |seance| if Date.today < seance.horaire %>
          <%=  content_tag :film_id, futures_seances do %>
            <% if seance.annulee != "Annulée" %>
                         <p><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %></p>
                         <p><span class="glyphicon glyphicon-home"></span> <%= seance.village.commune.upcase %> <em>(<%= seance.village.salle %>)</em>
                        <% if seance.version.present? %>
                        , <span class="glyphicon glyphicon-info-sign"></span> <%= seance.version %>
                        <% end %>
                        <% if seance.audio_description.present? %>
                        , <i class="fa fa-audio-description"></i> <%= seance.audio_description %> <i class="fa fa-low-vision"></i>
                        <% end %>
                        </p>
                        <% if seance.extras.present? %>
                        <p><span class="glyphicon glyphicon-info-sign"></span> <%= seance.extras %></p>
                        <% end %>
                    <% if can? :update, Seance %>
                        <p><span class="glyphicon glyphicon-facetime-video"></span> <strong><%= seance.projection %></strong> - <span class="glyphicon glyphicon-briefcase"></span> <strong><%= seance.caisse %></strong></p>
                        <%= link_to edit_seance_path(seance), class: "btn btn-warning", :title =>"Modifier" do %>
                        <i class="glyphicon glyphicon-pencil"></i>
                        <% end %>
                    <% if can? :manage, @seance %>
                         <%= link_to seance, method: :delete, data: { confirm: 'En êtes vous sûr ?'}, :class => "btn btn-danger", :title =>"Supprimer" do %>
                        <i class="glyphicon glyphicon-trash"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                    <br>
            <% else %>
                <p><strong><span class="glyphicon glyphicon-warning-sign"></span> <%= seance.annulee %></strong></p>
                <div class="annule">
                        <p><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %>
                        <p><span class="glyphicon glyphicon-home"></span> <%= seance.village.commune.upcase %> <em>(<%= seance.village.salle %>)</em></p>
                        <% if seance.version.present? %>
                        <p><span class="glyphicon glyphicon-info-sign"></span> <%= seance.version %>
                        <% end %>
                        <% if seance.audio_description.present? %>
                          <p><i class="fa fa-audio-description"></i> <%= seance.audio_description %> <i class="fa fa-low-vision"></i></p>
                        <% end %>
                        </p>
                        <% if seance.extras? %>
                        <p><span class="glyphicon glyphicon-info-sign"></span> <%= seance.extras %></p>
                        <% end %>
                    <% if can? :manage, seance %>
                        <%= link_to edit_seance_path(seance), class: "btn btn-warning", :title =>"Modifier" do %>
                        <i class="glyphicon glyphicon-pencil"></i>
                        <% end %>
                        <%= link_to seance, method: :delete, data: { confirm: 'En êtes vous sûr ?'}, :class => "btn btn-danger", :title =>"Supprimer" do %>
                        <i class="glyphicon glyphicon-trash"></i>
                        <% end %>
                    <% end %>
                </div>
                <br>
              <% end %>
            <% end %>
        <% end %>
    <% end %>
        <h4><strong>Séances passées :</strong></h4>
        <% seances_passees = film.seances.seances_passees_3_semaines.seances_desc.each.map do |seance| if Date.today > seance.horaire %>
           <%= content_tag :film_id, seances_passees do %>
            <% if seance.annulee != "Annulée" %>
                <p><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %></p>
                <p><span class="glyphicon glyphicon-home"></span> <%= seance.village.commune.upcase %> <em>(<%= seance.village.salle %>)</em>
            <% if seance.version.present? %>
                , <span class="glyphicon glyphicon-info-sign"></span> <%= seance.version %>
            <% end %>
            <% if seance.audio_description.present? %>
               , <i class="fa fa-audio-description"></i> <%= seance.audio_description %> <i class="fa fa-low-vision"></i>
            <% end %>
                </p>
            <% if seance.extras.present? %>
                <p><span class="glyphicon glyphicon-info-sign"></span> <%= seance.extras %></p>
            <% end %>
              <% if can? :update, Seance %>
                        <p><span class="glyphicon glyphicon-facetime-video"></span> <strong><%= seance.projection %></strong> - <span class="glyphicon glyphicon-briefcase"></span> <strong><%= seance.caisse %></strong></p>
                        <%= link_to edit_seance_path(seance), class: "btn btn-warning", :title =>"Modifier" do %>
                        <i class="glyphicon glyphicon-pencil"></i>
                        <% end %>
                    <% if can? :manage, @seance %>
                         <%= link_to seance, method: :delete, data: { confirm: 'En êtes vous sûr ?'}, :class => "btn btn-danger", :title =>"Supprimer" do %>
                        <i class="glyphicon glyphicon-trash"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                </p>
                <br>
            <% else %>
                <p><span class="glyphicon glyphicon-warning-sign"></span> <%= seance.annulee %></p>
                <div class="annule">
                    <p><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %></p>
                    <p><span class="glyphicon glyphicon-home"></span> <%= seance.village.commune.upcase %> (<%= seance.village.salle %>)</p>
                    <% if seance.version.present? %>
                    <p><span class="glyphicon glyphicon-info-sign"></span> <%= seance.version %></p>
                    <% end %>
                    <% if seance.audio_description.present? %>
                    <p><i class="fa fa-audio-description"></i> <%= seance.audio_description %> <i class="fa fa-low-vision"></i></p>
                    <% end %>
                    <% if seance.extras.present? %>
                    <p><span class="glyphicon glyphicon-info-sign"></span> <%= seance.extras %></p>
                    <% end %>
                <% if can? :manage, Seance %>
                    <p><span class="glyphicon glyphicon-pencil"></span> <%= link_to 'Modifier la séance', edit_seance_path(seance), :class => "btn btn-warning" %></p>
                     <p><span class="glyphicon glyphicon-trash"></span> <%= link_to 'Supprimer la séance', seance, method: :delete, data: { confirm: 'En êtes vous sûr ?'}, :class => "btn btn-danger" %></p>
                <% end %>
               </div>
            <br>
            <%end%>
          <% end %>
         <% end %>
        <%end %>
        </div>
        <center><span class="glyphicon glyphicon-facetime-video"></span> <span class="glyphicon glyphicon-film"></span> <span class="glyphicon glyphicon-facetime-video"></span> <span class="glyphicon glyphicon-film"></span> <span class="glyphicon glyphicon-facetime-video"></span> <span class="glyphicon glyphicon-film"></span> <span class="glyphicon glyphicon-facetime-video"></span> <span class="glyphicon glyphicon-film"></span> <span class="glyphicon glyphicon-facetime-video"></span></center>
       <% end %>
      <% end %>
    </div>
</div>
</br>
<%= link_to '', films_a_venir_path, :class => "back-to-top", :title => 'Retour haut de page' %>

