<center><h1><strong>Films</strong></h1></center>
<div class="container">
    <div class="actions">
        <%= link_to 'Retour à la page Films à venir', films_a_venir_path, :class => "btn btn-primary btn-block"  %>
    </div>
</div>
<br>
<% if can? :manage, @films %>
  <div class="container">
    <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
          Ajouter <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Créer une nouvelle seance', new_seance_path, :class => "btn btn-warning btn-block" %></li>
            <li><%= link_to 'Créer une nouveau lieu', new_village_path, :class => "btn btn-warning btn-block" %></li>
            <li class="divider"></li>
            <li><%= link_to 'Ajouter les nouveaux films à venir', ecranvillage_path, :class => "btn btn-block btn-danger" %></li>
           </ul>
        </div>
  </div>
<% end %>
<div class="container">
<center>
<fieldset class="search-field">
   <legend>Recherche par titre et/ou classification</legend>
    <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :titrefilm_cont, "Film(s) contien(nen)t" %>
      <%= f.text_field :titrefilm_cont %>
    </div>

    <div class="field">
     <%= f.label "Zone de classifications" %><br />
      <%= f.collection_check_boxes :classifications_id_in_any, Classification.all, :id, :nom_classification do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
    <div class="actions">
        <%= f.submit "Rechercher" %>
    </div>
    <% end %>
</fieldset>
</center>
</div>
<br>
<div class="container">

    <h3>Il y a pour cette recherche : <strong><%= @search.result.length %></strong> film(s)</strong>: </h3>
    <%= paginate @films %>

    <% @films.order(updated_at: :desc).each do |film| %>
     <% film_seances_semaine = film.seances.where(annulee: [nil, ""]) %>
      <% film_vernoux= film_seances_semaine.where(village_id: 4) %>
      <% film_lamastre = film_seances_semaine.where(village_id: 8) %>
      <% film_chalencon = film_seances_semaine.where(village_id: 5) %>

<div class="row">
  <table class="table table-responsive table-hover table-striped table-croped">
    <center><h3><span class="glyphicon glyphicon-film"></span> <strong><%= film.titrefilm.upcase %></strong>
    <% if can? :manage, @films %></h3>
      <div class="btn-group">
        <button type="button"
        class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
        Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to 'Modifier', edit_film_path(film), class: "btn btn-warning active" %></li>
          <li><%= link_to 'Supprimer', film, method: :delete, data: { confirm: 'En êtes vous sûr ?'}, :class => "btn btn-danger active" %></li>
         </ul>
      </div>
    </center>
    <% end %>
    <br>
    <% if film.classifications.present? %>
    <center>classé <%= film.classifications.map(&:nom_classification) %></center>
    <% end %>
    <% if film.distribution.present? %>
    <center>distribué par <%= film.distribution %></center>
    <% end %>
    <thead>
      <th>
         <tr>
           <th>Lieu</th>
           <th>Nombre de séances</th>
           <th>Billets scolaires</th>
           <th>Billets enfants</th>
           <th>Billets adultes</th>
           <th>Total Billets</th>
         </tr>
       </th>
    </thead>
    <tbody>
      <tr>
        <td class="active">Tous</td>
        <td class="warning"><strong><%= film_seances_semaine.length %></strong> séance(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_scolaires") %></strong> scolaire(s) scolaire(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_enfants") %></strong> enfant(s) enfant(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_adultes") %></strong> adulte(s)</td>
        <td class="warning"><strong><%= film_seances_semaine.sum("total_billets") %></strong> en total</td>
      </tr>
      <tr>
        <td class="active">Vernoux</td>
        <td class="warning"><strong><%= film_vernoux.length %></strong> séance(s)</td>
        <td class="info"><strong><%= film_vernoux.sum("billets_scolaires") %></strong> scolaire(s)</td>
        <td class="info"><strong><%= film_vernoux.sum("billets_enfants") %></strong> enfant(s)</td>
        <td class="info"><strong><%= film_vernoux.sum("billets_adultes") %></strong> adulte(s)</td>
        <td class="warning"><strong><%= film_vernoux.sum("total_billets") %></strong> en total</td>
      </tr>
      <tr>
        <td class="active">Lamastre</td>
        <td class="warning"><strong><%= film_lamastre.length %></strong> séance(s)</td>
        <td class="info"><strong><%= film_lamastre.sum("billets_scolaires") %></strong> scolaire(s)</td>
        <td class="info"><strong><%= film_lamastre.sum("billets_enfants") %></strong> enfant(s)</td>
        <td class="info"><strong><%= film_lamastre.sum("billets_adultes") %></strong> adulte(s)</td>
        <td class="warning"><strong><%= film_lamastre.sum("total_billets") %></strong> en total</td>
      </tr>
      <tr>
        <td class="active">Chalencon</td>
        <td class="warning"><strong><%= film_chalencon.length %></strong> séance(s)</td>
        <td class="info"><strong><%= film_chalencon.sum("billets_scolaires") %></strong> scolaire(s)</td>
        <td class="info"><strong><%= film_chalencon.sum("billets_enfants") %></strong> enfant(s)</td>
        <td class="info"><strong><%= film_chalencon.sum("billets_adultes") %></strong> adulte(s)</td>
        <td class="warning"><strong><%= film_chalencon.sum("total_billets") %></strong> en total</td>
      </tr>
      <tr>
        <td class="active">Itinérance</td>
        <td class="warning"><strong><%= film_seances_semaine.length  - (film_vernoux.length  + film_lamastre.length  + film_chalencon.length) %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_scolaires") - (film_vernoux.sum("billets_scolaires") + film_lamastre.sum("billets_scolaires") + film_chalencon.sum("billets_scolaires")) %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_enfants") - (film_vernoux.sum("billets_enfants")  + film_lamastre.sum("billets_enfants") + film_chalencon.sum("billets_enfants")) %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_adultes") - (film_vernoux.sum("billets_adultes") + film_lamastre.sum("billets_adultes") + film_chalencon.sum("billets_adultes")) %></strong></td>
        <td class="warning"><strong><%= film_seances_semaine.sum("total_billets") - (film_vernoux.sum("total_billets") + film_lamastre.sum("total_billets") + film_chalencon.sum("total_billets")) %></strong></td>
      </tr>
      <tr>
        <td class="active">Tournée (Lamastre, Chalencon, Itinérance)</td>
        <td class="warning"><strong><%= film_seances_semaine.length - film_vernoux.length %></strong> séance(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_scolaires") - film_vernoux.sum("billets_scolaires") %></strong> scolaire(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_enfants") - film_vernoux.sum("billets_enfants") %></strong> enfant(s)</td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_adultes") - film_vernoux.sum("billets_adultes") %></strong> adulte(s)</td>
        <td class="warning"><strong><%= film_seances_semaine.sum("total_billets") - film_vernoux.sum("total_billets") %></strong> en total</td>
      </tr>
    </tbody>
  <% end %>
  </table>
 </div>
</div>
