<center><p class="text-center">Projections pour <strong><%= @lieu.upcase %></strong></p></center>
 <br>
 <div class="row">
    <div class="col-md-3">
    <div class="actions">
      <div class="btn-group">
      <button type="button" class="btn btn-danger">Choix par lieux</button>
        <button type="button" class="btn btn-primary btn-danger dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Calendrier Vernoux', calendrier_path(:lieu => "vernoux", date: @date), :class => "btn btn-default vernoux", :title => "Que les séances de Vernoux" %></li>
            <li><%= link_to 'Calendrier Lamastre', calendrier_path(:lieu => "lamastre", date: @date), :class => "btn btn-default lamastre", :title => "Que les séances de Lamastre" %></li>
            <li><%= link_to 'Calendrier Chalencon', calendrier_path(:lieu => "chalencon", date: @date), :class => "btn btn-default chalencon", :title => "Que les séances de Chalencon" %></li>
            <li><%= link_to 'Calendrier Itinérance', calendrier_path(:lieu => "itinerance", date: @date), :class => "btn btn-default itinerance", :title => "Que les séances de Itinérantes" %></li>
            <li><%= link_to 'Calendrier tous les lieux', calendrier_path(:lieu => "tous les lieux", date: @date), :class => "btn btn-default", :title => "Séances de tous les lieux" %></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="col-md-9">
      <p><strong>AD</strong> = Audio-Description <i class="fa fa-audio-description fa-lg"></i><p>
      <p><strong>ST-SME</strong> = Sous-Titrée pour personnes Sourdes et Mal-Entendantes <i class="fa fa-low-vision fa-lg"></i></strong></p>
      <p><strong>AD / ST-SME</strong> = Audio-Description / Sous-Titrée pour personnes Sourdes et Mal-Entendantes <i class="fa fa-audio-description fa-lg"></i> / <i class="fa fa-low-vision fa-lg"></i></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="well controls">
        <%= link_to calendrier_iframe_path(:lieu => params[:lieu], date: @date.beginning_of_week - 1.weeks), class: "btn btn-xs btn-default" do %>
          <div class="glyphicon glyphicon-backward"><p>Semaine précédente</p></div>
        <% end %>
         <%= "du #{l @date.beginning_of_week, format: :default} au #{l @date.end_of_week, format: :default}, #{@date.beginning_of_week.strftime("semaine N°%W")}" %>
        <%= link_to calendrier_iframe_path(:lieu => params[:lieu], date: @date.beginning_of_week + 1.weeks), class: "btn btn-xs btn-default" do %>
          <div class="glyphicon glyphicon-forward"><p>Semaine suivante</p></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="table-row">
    <div class="col-md-12">
      <%= calendar @date do |date| %>
        <p><center><%= l date, format: :short %></center></p>
        <ul class="list-unstyled calendrier">
          <% @seances.where({horaire: ((date - 6.day)..(date + 6.day))}).lieuxtest[@lieu].compact.each do |seance| %>
            <% if seance.horaire.midnight == date.midnight %>
              <% if seance.annulee != "Annulée" %>
                <li>
                  <%= link_to "https://ecranvillage.net/?p=#{seance.film.import_id}", :class => seance.village.commune.downcase, :title => "En savoir plus", :target => "_top", :rel => "noopener noreferrer" do %>
                    <% if seance.film.affiche.present? %>
                       <div><img style="width:50%;" src="<%= seance.film.affiche %>" /></div>
                       <br>
                    <% end %>
                       <p><span class='glyphicon glyphicon-time'></span> <strong><%= seance.horaire.strftime("%Hh%M") %></strong></p>
                       <p><span class='glyphicon glyphicon-film'></span> <%=raw seance.film.titrefilm %></p>
                    <% if seance.version.present? %>
                       <p><span class='glyphicon glyphicon-info-sign'></span> <%= seance.version %></p>
                    <% end %>
                    <% if seance.audio_description.present? %>
                       <p><i class="fa fa-audio-description"></i> <%= seance.audio_description %> <i class="fa fa-low-vision"></i></p>
                    <% end %>
                    <% if seance.extras.present? %>
                       <p><span class='glyphicon glyphicon-info-sign'></span> <%= seance.extras %></p>
                    <% end %>
                       <p><span class='glyphicon glyphicon-home'></span> <strong><%= seance.village.commune.upcase %></strong></p>
                    <% if seance.village.salle %>
                       <p><em><%= seance.village.salle %></em></p>
                    <% end %>
                  <% end %>
              <% else %>
                <div class='<%= seance.village.commune.downcase %>'>
                   <p><span class='glyphicon glyphicon-warning-sign'></span> <%= seance.annulee %></p>
                   <p class="annule"><span class='glyphicon glyphicon-time'></span> <strong><%= seance.horaire.strftime("%Hh%M") %></strong></p>
                   <p class="annule"><span class='glyphicon glyphicon-film'></span> <%=raw seance.film.titrefilm %></p>
                <% if seance.version.present? %>
                   <p class="annule"><span class='glyphicon glyphicon-info-sign'></span> <%= seance.version %></p>
                <% end %>
                <% if seance.audio_description.present? %>
                    <p class="annule"><i class="fa fa-audio-description"></i> <%= seance.audio_description %> <i class="fa fa-low-vision"></i></p>
                <% end %>
                <% if seance.extras.present? %>
                   <p class="annule"><span class='glyphicon glyphicon-info-sign'></span> <%= seance.extras %></p>
                <% end %>
                   <p class="annule"><span class='glyphicon glyphicon-home'></span> <strong><%= seance.village.commune.upcase %></strong></p>
                <% if seance.village.salle %>
                   <p class="annule"><em><%= seance.village.salle %></em></p>
                <% end %>
                </div>
              <% end %>
              <hr />
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="well controls">
        <%= link_to calendrier_iframe_path(:lieu => params[:lieu], date: @date.beginning_of_week - 1.weeks), class: "btn btn-xs btn-default" do %>
          <div class="glyphicon glyphicon-backward"><p>Semaine précédente</p></div>
        <% end %>
         <%= "du #{l @date.beginning_of_week, format: :default} au #{l @date.end_of_week, format: :default}, #{@date.beginning_of_week.strftime("semaine N°%W")}" %>
        <%= link_to calendrier_iframe_path(:lieu => params[:lieu], date: @date.beginning_of_week + 1.weeks), class: "btn btn-xs btn-default" do %>
          <div class="glyphicon glyphicon-forward"><p>Semaine suivante</p></div>
        <% end %>
      </div>
    </div>
  </div>
<br>
