<p>
  <strong>Nom:</strong>
  <%= @classification.nom_classification %>
</p>

<%= link_to 'Editer', edit_classification_path(@classification) %> |
<%= link_to 'Retour à la liste', classifications_path %>
