BEGIN:VCALENDAR<br>
VERSION:2.0<br>
CALSCALE:GREGORIAN<br>
PRODID:-//SabreDAV//SabreDAV//EN<br>
X-WR-CALNAME:ExportSeancesCentreCulturel-<%= Date.today %><br>
BEGIN:VTIMEZONE<br>
TZID:Europe/Paris<br>
BEGIN:DAYLIGHT<br>
TZOFFSETFROM:+0100<br>
TZOFFSETTO:+0200<br>
TZNAME:CEST<br>
DTSTART:19700329T020000<br>
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=3<br>
END:DAYLIGHT<br>
BEGIN:STANDARD<br>
TZOFFSETFROM:+0200<br>
TZOFFSETTO:+0100<br>
TZNAME:CET<br>
DTSTART:19701025T030000<br>
END:STANDARD<br>
END:VTIMEZONE<br>
<% @seances.where(:village_id => 8).each do |seance| %>
BEGIN:VEVENT<br>
CREATED:<%= seance.created_at.strftime('%Y%m%d') %>T<%= seance.created_at.strftime('%H%M%S') %><br>
LAST-MODIFIED:<%= seance.updated_at.strftime('%Y%m%d') %>T<%= seance.updated_at.strftime('%H%M%S') %><br>
UID:<%= seance.id %><br>
SUMMARY:<%= seance.film.titrefilm %> <%= seance.version %><br>
DTSTART;TZID=Europe/Paris:<%= seance.horaire.strftime('%Y%m%d') %>T<%= seance.horaire.strftime('%H%M%S') %><br>
DTEND;TZID=Europe/Paris:<%= (seance.horaire + 2.hours).strftime('%Y%m%d') %>T<%= (seance.horaire + 2.hours).strftime('%H%M%S') %><br>
TRANSP:OPAQUE<br>
LOCATION:<%= seance.village.commune %>, <%= seance.village.salle %><br>
END:VEVENT<br>
<% end %>
END:VCALENDAR