/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'bootstrap-datetimepicker';
@import 'simple_calendar';
@import 'aide';
@import 'back_to_top';
@import 'calendar';
@import 'films';
@import 'nav';
@import 'pdf';
@import 'scaffolds';
@import 'seances';
@import "*";
@import "../../../vendor/assets/stylesheets/*";


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
  url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
  url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
  url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}
p, ul, li, h4, h3, h2, h1, td, th {
	font-family: 'Raleway-Light' !important;
}
.italic {
 	font-style: italic;
}
ol, ul {
	padding: 1% !important;
}
tbody tr:hover {
 	background-color: transparent;
 }
 #error {
 	font-size: 1.2em;
  color: green;
  padding: 2px 5px;
 }
