// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}
.capture {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}
li {
    list-style-position: inherit !important;
}
.calendrier li {
    list-style-position: inherit !important;
  }.calendrier a {
  color: #9b8d26;

  &:hover {
    color: #449d44;
    text-decoration: none;
  }
  }a.vernoux {
  color: #3232dd;

  &:hover {
    color: #449d44;
    text-decoration: none;
  }
  }a.lamastre {
  color: #c1272d;

  &:hover {
    color: #449d44;
    text-decoration: none;
  }
  }a.chalencon {
  color: #990099;

  &:hover {
    color: #449d44;
    text-decoration: none;
  }
  }a.itinerance {
  color: #9b8d26;

   &:hover {
    color: #449d44;
    text-decoration: none;
    }
}