// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.today {
  background: #AB9A9A;
}
.capture {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}
li {
    list-style-position: inherit !important;
}
.itinerance {
  color: #9b8d26;
}
.vernoux {
  color: #3232dd;
}
.lamastre {
  color: #c1272d;
}
.chalencon {
  color: #990099;
}
.calendrier li {
    list-style-position: inherit !important;
  }.calendrier a {
  color: #9b8d26;

  &:hover {
    color: #449d44;
    text-decoration: none;
  }
  }a.vernoux {
  color: #3232dd;

  &:hover {
    color: #449d44;
    text-decoration: none;
  }
  }a.lamastre {
  color: #c1272d;

  &:hover {
    color: #449d44;
    text-decoration: none;
  }
  }a.chalencon {
  color: #990099;

  &:hover {
    color: #449d44;
    text-decoration: none;
  }
  }a.itinerance {
  color: #9b8d26;

   &:hover {
    color: #449d44;
    text-decoration: none;
    }
}
tbody tr:nth-of-type(2n) {
background-color: #f0f0f0;
}
.table.table.table-responsive th, table.table.table-responsive td {
  text-align: center;
}
div.datepicker {
  width: 30%;
}
@media screen and (max-width: 800px) {
  .table-croped thead, th {display:none}
  .table-croped table {width:100%;}
  .table-croped tr:nth-of-type(2n) {background-color: inherit;}
  .table-croped tr td:first-child {background: #f0f0f0;}
  .table-croped tbody td {display: block;  text-align:center;}
  .table-croped tbody td:before {
    content: attr(data-th);
    display: block;
    text-align:center;
  }
  div.datepicker {
  width: 100%;
  }
}
