// Place all the styles related to the films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#film_description {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    word-wrap: break-word;
}
.description{
    width: 100%;
    border-width: 1px;
    border-style: outset;
    border-color: #B8C069;
    border-radius: 0.5em;
    padding: 1em;
    font-size: 1.3em;
}
.film-seances {
    display: inline-block;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px rgba(255, 255, 255, 0.3) inset;
    padding: 0 56px 0;
    background-color: #c1272d;
}
.seance {
    display: inline-block;
    margin: 4px;
    padding-bottom: 5px;
    padding-top:5px;
    width: 38%;
    background: #ecf0f1;
}
.film-seances .seance.description p {
    font-size: 0.8em;
}
.film {
    vertical-align: top;
    margin: 4px;
    padding-bottom: 10px;
    display: inline-block;
    width: 60%;
    background: #ecf0f1;
}
.film img {
  width: 50%;
  max-width: 260px;
}
.apropos {
   vertical-align: middle;
}
.cine {
  background-image: url(banniere.jpg);
  background-repeat: repeat-x;
  width: 100%;
  height: 241px;
}
.cine h1{
  padding-top: 90px;
  text-align: center;
}
.cine-titre {
  text-align: center;
}
.pagination, .calendar-heading {
  border-width: 1px;
  border-style: outset;
  padding: 1em;
  text-align: center;
}
@media (max-width: 1185px) {
   .seance, div.film.description {
      width: 100%
   }
   .film-seances {
      padding: 0 16px 0;
   }
   .film img {
      width: 30%;
      min-width: 240px;
  }
  .cine h1 {
    font-size: 24px;
  }
}
