.nav .connexion {
	margin-left: 10px;
}

.navbar>a.btn:hover, navbar>a.btn:focus, navbar>a:focus {
	color: #449d44;
}

.logo {
	position: relative;
	float: right;
	margin-right: 15px;
}

.image-logo{
  width: 100%;
   -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
     -o-transition: 2s ease-in-out;
  transition: 3s ease-in-out;
  perspective: 800px;
  perspective-origin: 50% 100px;
}

.image-logo:hover{
    transform:rotateY(60deg);
}



