<div class="container">
	<p id="notice"><%= flash[:notice] %></p>
<center><h1><strong>Se connecter</strong></h1>
		<%= render 'form' %>
		<%= link_to 'Retour', root_path, :class => "btn btn-lg btn-success" %>
</div>
</center>
<br>