<div class="container">
<center><h1><strong>Se connecter</strong></h1>
		<%= render 'form' %>
		<%= link_to 'Retour', root_path, :class => "btn btn-lg btn-success" %>
    <%= link_to 'Mot de passe oublié ?', new_reset_password_path, :class => "btn btn-danger" %></center>
</div>
</center>
<br>