<div class="container">
  <nav class="nav navbar-light bg-inverse navbar-nav navbar-left connexion">
    <div class="nav navbar-nav navbar-right connexion">
      <% if current_user %>
      <br>
        <h4>Bienvenue ! <span class="label label-info"><%= current_user.prenom%></span></h4>
          <%= link_to "Se déconnecter", :log_out, method: :post, :class => 'btn btn-lg btn-success' %>
       <% end %>
    </div>
  </nav>
  <div class="logo">
  <%= link_to "https://ecranvillage.net", :target => "_blank", :rel => "noopener noreferrer" do %>
    <%= image_tag("logo_EV.png", :alt => "logo écran village", :title => "aller sur le site d'Ecran Village", :class => "image-logo") %>
  <% end %>
  </div>
</div>
<br>