<div class="container">
      <center><h4>Plannings Cinéma 2017 par <a href="mailto:rodolphe.robles@sfr.fr", title="me contacter"><i class="fa fa-envelope" aria-hidden="true"></i>Rodolphe Robles</a></h4>
      <h4><a href="https://git.framasoft.org/rodinux", title="dépôt framagit"><i class="fa fa-gitlab fa-2x" aria-hidden="true"></i></a> <a href="https://github.com/rodinux", title="dépôt github"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a> <a href="http://rubyonrails.org/", title="Ruby on Rails"><i class="fa fa-diamond fa-2x" aria-hidden="true"></i></a></h4></center>
</div>