<nav class="navbar navbar-inverse navbar-static-top" role = "navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to 'Films', films_a_venir_path, :class => "btn btn-lg navbar-btn navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <% if can? :update, Seance %>
        <li class="active"><%= link_to 'Aide', aide_path, :class => "btn btn-lg navbar-btn hidden-xs" %></li>
        <li><%= link_to 'Édition Calendriers', edition_calendrier_path(:lieu => "tous les lieux"), :class => "btn btn-lg navbar-btn" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn btn-lg navbar-btn" data-toggle="dropdown">Séances <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Toutes les séances', seances_path(:lieu => "tous les lieux"), :class => "btn btn-lg" %></li>
            <li><%= link_to 'Séances Vernoux', seances_path(:lieu => "vernoux"), :class => "btn btn-lg" %></li>
            <li><%= link_to 'Séances Lamastre', seances_path(:lieu => "lamastre"), :class => "btn btn-lg" %></li>
            <li><%= link_to 'Séances Chalencon', seances_path(:lieu => "chalencon"), :class => "btn btn-lg" %></li>
            <li><%= link_to 'Séances Itinérance', seances_path(:lieu => "itinerance"), :class => "btn btn-lg" %></li>
            <li><%= link_to 'Mes Séances', mes_seances_path, :class => "btn btn-lg" %></li>
            <li><%= link_to 'Import Séances Google Agenda', export_csv_path, :class => "btn btn-lg" %></li>
          </ul>
        </li>
        <li><%= link_to 'Utilisateurs', users_path, :class => "btn btn-lg navbar-btn hidden-xs" %></li>
        <li><%= link_to 'Entrees', entrees_path, :class => "btn btn-lg navbar-btn" %></li>
        <li><%= link_to 'Disponibilités', disponibilites_path, :class => "btn btn-lg navbar-btn"  %></li>
      <% end %>
    <% if can? :manage, Village %>
      <li><%= link_to 'Villages', villages_path, :class => "btn btn-lg navbar-btn hidden-xs" %></li>
      <li><%= link_to 'Administration', rails_admin_path, :class => "btn btn-lg navbar-btn hidden-xs" %></li>
    <% end %>
    </ul>
  </div>
</div>
</nav>