<!DOCTYPE html>
<html>
  <head>
    <title>PlanningsCinema</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width">

  </head>
  <body>
    <%= render "layouts/nav" %>
    <%= render "layouts/connexion" %>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="error"><%= flash[:error] %></p>
    <div class="container">
        <% if can? :update, Seance %>
          <h2>Attention ! Ne vous inscrivez plus sur cette application. Maintenant les inscriptions se feront <%= link_to 'sur ce lien', "https://ecran-village.cinegestion.fr/login", :title => "page de connexion sur l'interface de cinegestion", :target => "_blank", :rel => "noopener noreferrer" %>.</h2>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <footer>
    <%= render "layouts/footer" %>
  </footer>
</html>
