<!DOCTYPE html>
<html>
  <head>
    <title>PlanningsCinema</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="robots" content="noindex,indexifembedded">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="container" id="calendrier">
      <%= yield %>
    </div>
  </body>
</html>
