<!DOCTYPE html>
 <html>
   <head>
       <meta charset='utf-8' />
    	<title>PDF</title>
    	<%= wicked_pdf_stylesheet_link_tag "bootstrap" %>
    	<%= wicked_pdf_stylesheet_link_tag "pdf" %>
    	<%= wicked_pdf_javascript_include_tag "pdf" %>
   </head>
   <body>
      <div class='container'>
        <%= yield %>
      </div>
  </body>
</html>