<!DOCTYPE html>
<html>
  <head>
    <title>PlanningsCinema</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'specific_iframe', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"crossorigin="anonymous">

    <script src='https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' type='text/javascript' ></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    <link href='https://espace-culturel-nodon.fr/wp-content/themes/espace-culturel-nodon-v3/iframe-ev.css' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Teko' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' >

    <meta name="robots" content="noindex,indexifembedded">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>